<html>
  <head>
    <title>Draft queue</title>
  </head>
  <body>

    <h2>In progress</h2>
    <ul>
      {% for job in in_progress_jobs %}
      <li>
	Owner: {{ job.owner }} (id: {{ job.id }})
	<ul>
	  {% for file_path, count in job.documents %}
	  <li>
	    <a href="/{{ file_path }}">{{ file_path }}</a>
	    x
	    {{ count }}
	  </li>
	  {% endfor %}
	</ul>
	{% if worker_name %}
	<form method="post"
	      action="{% url 'draft_job_mark_completion' job_id=job.id %}">
	  {% csrf_token %}
	  <input type="hidden" name="worker_name" value="{{ worker_name }}" />
	  <button>Mark as complete</button>
	</form>
	{% endif %}
      </li>
      {% endfor %}
    </ul>

    <h2>Pending</h2>
    <ul>
      {% for job in pending_jobs %}
      <li>
	Owner: {{ job.owner }} (id: {{ job.id }})
	{% if worker_name %}
	<form method="post"
	      action="{% url 'draft_job_pick_up' job_id=job.id %}">
	  {% csrf_token %}
	  <input type="hidden" name="worker_name" value="{{ worker_name }}" />
	  <button>Pick up job</button>
	</form>
	{% endif %}
      </li>
      {% endfor %}
    </ul>

    <h2>Completed</h2>
    <ul>
      {% for job in completed_jobs %}
      <li>
	Owner: {{ job.owner }} (id: {{ job.id }})
	<ul>
	  {% for file_path, count in job.documents %}
	  <li>
	    <a href="/draft_translations/{{ file_path }}">
	      {{ file_path }}
	    </a>
	    x
	    {{ count }}
	  </li>
	  {% endfor %}
	</ul>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
