{% extends "base_queue.html" %}

{% block title %} Final Translations Print Job Queue {% endblock %}

{% block content %}
  <div class="container">
    <div class="col-md-12 col-lg-10 col-lg-offset-1">
      <h2>Final Translations Print Job Queue ({{ group }})</h2>
      {% if worker_name %}
        <p>
          Showing jobs having ID = {{ worker_mod }} (mod {{ worker_count }}). This worker's name is "{{ worker_name }}".
          <br>
          <a href="/queue/draft/{{ group }}">View all jobs</a>.
        </p>
      {% else %}
        <p>
          Append <b>?name=</b>{worker name}<b>&count=</b>{total number of workers}<b>&mod=</b>{job ID (modulo count) to be assigned to the worker}
          <br>
          to the URL to access the worker view.
        </p>
      {% endif %}
      <hr>
      <h3>In progress</h3>
      <table id="in-progress-tbl">
        <thead>
          <th>ID</th>
          <th>Country</th>
          <th>Files</th>
          {% if worker_name %} <th>Action</th> {% endif %}
        </thead>
        <tbody>
          {% for job in in_progress_jobs %}
          <tr>
            <td>{{ job.id }}</td>
            <td><a href="/user/{{ job.owner_country }}">{{ job.owner_country }}</a></td>
            <td>
              <ul>
                {% for file_path, count in job.documents %}
                <li>
                  <a href="/{{ file_path }}">{{ file_path }}</a>
                  x
                  {{ count }}
                </li>
                {% endfor %}
              </ul>
            </td>
            {% if worker_name %}
            <td>
              <form method="post"
                    action="{% url 'final_job_mark_completion' job_id=job.id %}">
                {% csrf_token %}
                <input type="hidden" name="worker_name" value="{{ worker_name }}" />
                <button>Mark as complete</button>
              </form>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Pending</h3>
      <table id="pending-tbl">
        <thead>
          <th>ID</th>
          <th>Country</th>
          {% if worker_name %} <th>Action</th> {% endif %}
        </thead>
        <tbody>
          {% for job in pending_jobs %}
          <tr>
            <td>{{ job.id }}</td>
            <td><a href="/user/{{ job.owner_country }}">{{ job.owner_country }}</a></td>
            {% if worker_name %}
            <td>
              <form method="post"
                    action="{% url 'final_job_pick_up' job_id=job.id %}">
                {% csrf_token %}
                <input type="hidden" name="worker_name" value="{{ worker_name }}" />
                <button>Pick up job</button>
              </form>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Completed</h3>
      <table id="completed-tbl">
        <thead>
          <th>ID</th>
          <th>Country</th>
          <th>Files</th>
          <th>Printed by</th>
        </thead>
        <tbody>
          {% for job in completed_jobs %}
          <tr>
            <td>{{ job.id }}</td>
            <td><a href="/user/{{ job.owner_country }}">{{ job.owner_country }}</a></td>
            <td>
              <ul>
                {% for file_path, count in job.documents %}
                <li>
                  <a href="/{{ file_path }}">{{ file_path }}</a>
                  x
                  {{ count }}
                </li>
                {% endfor %}
              </ul>
            </td>
            <td>{{ job.worker }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
