Django
gunicorn==19.3.0
psycopg2==2.6
redis==2.10.3
requests==2.7.0
six==1.10.0
websocket-client==0.35.0
python-markdown-math
django-redis
ipython
pytz
django-websocket-redis
openpyxl
pdfkit==0.6.1
xvfbwrapper==0.2.9
raven