Django~=1.11.14
gunicorn==19.5.0
psycopg2-binary
redis==2.10.3
requests==2.7.0
six==1.14.0
websocket-client==0.35.0
django-storages==1.6.6
boto3==1.7.67
django-import-export==1.0.1
python-markdown-math
django-redis
ipython
pytz
django-websocket-redis
openpyxl
pdfkit==0.6.1
xvfbwrapper==0.2.9
raven
