Django
gunicorn
psycopg2-binary
redis
requests
six==1.14.0
websocket-client
django-storages
boto3==1.7.67
django-import-export
python-markdown-math
django-redis
ipython
pytz
django-websocket-redis
openpyxl
pyppeteer
raven
tablib
moratab
inotify
django-xff
