.table-center * {
    text-align: center;
}

.panel {
	border-radius: 0;
}

.fa-btn {
	cursor: pointer;
}

#diff-selectbox {
	width: 20%;
	font-size: 12px;
	padding: 0px 6px;
}

.btn.active {
	background-color: green !important;
}

.text-container {
	background: #f5f5f5;
	padding: 15px;
}

#btn-container > .panel {
	margin-bottom: 0 !important;
}

#left-container {
	padding-right: 0;
}

#right-container {
	padding-left: 0;
}

#left-container .panel-body,
#right-container .panel-body,
#middle-container .panel-body {
	padding: 0;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.panel {
  border-radius: 0;
}

.btn-container {
  padding: 15px;
  border: 1px solid #ddd;
  border-width: 0 1px;
}

.editor-panel {
	height: 800px;
	width: 100%;
	border: 1px solid #ddd;
	border-top: 0px;
}

.edit-pane {
	float: left;
	width: 50%;
	border: 1px solid #ddd;
  min-height: 800px;
}

.preview-pane {
	min-height: 100%;
	border: 1px solid #ddd;
	background-color: #f5f5f5;
  border-left: 0px;
  min-height: 800px;
}

div.CodeMirror {
  border: 0px;
}

div.flatpage {
  margin-top: 20px;
  margin-bottom: 10px;
}

span.notif-badge {
  font-size: 14px;
}
