.page-header
{
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
  padding-bottom: 16px
  border-bottom: hsl(0, 0, 45%) 1px solid
}
.page-header .logo
{
    display: inline-block
    float: left
    margin-right: 20px
}
.page-header .logo img
{
      width: auto
      height: 84px
}
.page-header .text
{
    display: inline-block
    float: left
}
.page-header .text h1{
      font-weight: 700
      font-size: 14px
}
.page-header .text ul{
      font-weight: 400
      font-size: 14px
      margin-top: 8px
}
.page-header .meta {
    display: inline-block
    float: right
    text-align: right
    margin-top: 48px
}
.page-header .meta h1{
      font-family: "Courier New", monospace
      font-weight: bold
      font-size: 18px
      letter-spacing: -1px
      line-height: 24px
}
.page-header .meta h2{
      font-weight: 300
      font-size: 12px
}
