body, html {
    height: 100%;
}
.main-content {
    position: relative;
    height: 100%;
}

.offcanvasRight {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: transparent;
    padding: 0;
    z-index: 1050; /* Ensure it overlays other content */
    height: 300px;
}


.insideOffcanvas {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;
    padding: 10px;
    background-color: white;
    transition: bottom 0.3s ease;
    border-top: 3px solid black;
    overflow-y: auto;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 100px auto; /* Center horizontally */
}

.offcanvasRight.closedPane {
    z-index: -1;
    transition: z-index 0s 0.3s; 
    
}

.closedPane .insideOffcanvas {
    bottom: -120%;
}



.close-btn {
    cursor: pointer;
}

.copy-btn {
    cursor: pointer;
}

.auto_translated_header {
    background-color: black;
    color: white;
    padding-right: 2px;
    padding-left: 2px;
    height:25px;
}
.auto_translated_body {
    background-color: lightcoral;
    color: white;
    margin: 0;
}
.translated_content > textarea {
    height: 125px;
    width: 100%;
}
pre.auto_translated_body {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    height: 100px;
}

.copy-btn .post-copy {
    display: none
}

.copy-btn.copied .post-copy {
    display: block;
}

.copy-btn.copied .pre-copy {
    display: none;
}

.copy-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none; /* Disables interaction */
}