.table-center * {
    text-align: center;
}

.panel {
    border-radius: 0;
}

.main-content {
    margin-bottom: 100px;
}

.fa-btn {
    cursor: pointer;
}

#diff-selectbox {
    width: 20%;
    font-size: 12px;
    padding: 0px 6px;
}

.btn.active {
    background-color: green !important;
}

.text-container {
    background: #f6f6f6;
    padding: 15px;
}

#btn-container>.panel {
    margin-bottom: 0 !important;
}

#left-container {
    padding-right: 0;
}

#right-container {
    padding-left: 0;
}

#left-container .panel-body, #right-container .panel-body,
#middle-container .panel-body {
    padding: 0;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.panel {
    border-radius: 0;
}

.btn-container {
    padding: 15px;
    border: 1px solid #ddd;
    border-width: 0 1px;
}

.edit-pane {
    float: left;
    width: 50%;
    border: 1px solid #ddd;
    min-height: 800px;
    background-color: #FFFFFF;
}

.preview-pane {
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    border-left: 0px;
    min-height: 800px;
    padding: 15px;
    width: 50%;
    float: right;
}

div.CodeMirror {
    border: 0px;
}

span.notif-badge {
    font-size: 14px;
}

.table>tbody>tr>td, .table>tbody>tr>th {
    vertical-align: middle;
}

/* persian markdown editor */

#wmd-input {
    background-color: #FFFFFF;
    padding: 15px !important;
}
