#header-row {
    margin-bottom: 15px;
}

.avatar-frame {
    border: 2px solid #c7b8e;
}

.avatar-frame, .avatar-frame img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 30px;    /* Saf3+, Chrome */
    border-radius: 50px;    /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
}

div>.avatar-frame {
    margin: auto;
    margin-bottom: 20px;
}

.big-submit-button input {
    width: 300px;
    height: 50px;
}

.navbar-login {
    width: 25em;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: -10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}
