
@import url(/static/fonts/SourceSansPro/SourceSansPro.css);

body {
    margin: 4em;
    font-size: 10px;
    zoom: .9;
    text-align: justify;
}

.page-header {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.page-header .logo {
    display: inline-block;
    float: left;
    margin-right: 0px;
}

.page-header .logo img {
    height: 70px;
    padding-right: 15px;
}

.page-header .text {
    display: inline-block;
    float: left;
    letter-spacing: -.03em;
    line-height: 1.1em;
}

.page-header .text h1 {
    font-weight: 600;
    font-size: 1.1em;
    margin: 0px 0px 3px;
}

.page-header .meta {
    display: inline-block;
    float: right;
    text-align: right;
    margin-top: 30px;
}

.page-header .meta h1 {
    font-family: "Courier New", monospace;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -.03em;
    line-height: 24px;
    margin: 0px;
}

.page-header .meta h2 {
    font-weight: 400;
    font-size: 12px;
    margin: 3px 0;
}

.page-header hr {
    margin-top: 8px;
}

.pdf.markdown-body {
    color: black;
    font-size: 16px;
}

.pdf.markdown-body code {
    color: #333;
}

.pdf pre {
    border: 1px solid #ddd;
}
