
@import url(/static/fonts/SourceSansPro/SourceSansPro.css);

body {
    margin: 4em;
    font-size: 10px;
    zoom: .9;
    text-align: justify;
}

h1, h2, h3, h4 {
    page-break-after: avoid;
}

pre, table th {
    background-color: #eee important!;
}

.header {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header .logo {
    display: inline-block;
    float: left;
    margin-right: 0px;
}

.header .logo img {
    height: 70px;
    padding-right: 15px;
}

.header .text {
    display: inline-block;
    float: left;
    letter-spacing: -.03em;
    line-height: 1.1em;
}

.header .text h1 {
    font-weight: 600;
    font-size: 1.1em;
    margin: 0px 0px 3px;
}

.header .meta {
    display: inline-block;
    float: right;
    text-align: right;
}

.header .print {
    height: 30px;
}

.header .print button {
    background-color: darkorange;
    font-weight: 600;
    color: white;
}

.header .meta h1 {
    font-family: "Courier New", monospace;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -.03em;
    line-height: 24px;
    margin: 0px;
}

.header .meta h2 {
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}

.header hr {
    margin-top: 10px;
    border: none;
    border-top: 1px solid #666;
    height: 1px;
}

.pdf.markdown-body {
    color: black;
    font-size: 16px;
}

.pdf.markdown-body code {
    color: #333;
}

.pdf pre {
    border: 1px solid #ddd;
    border-radius: 0px
}

@media print {
    .print {
        visibility: hidden;
    }

    body {
        margin: 0;
        zoom: 1;
        font-family: 'CustomTextFont', Arial, serif;
    }
}
