{% extends "base.html" %}

{% block title %} Automatic Translation {% endblock %}

{% block content %}

<script type="text/javascript">
    function updateTranslate(response) {
        $("#translated_text").text(response.translated_text)
        $("#translate_submit").removeAttr("disabled")
    }
    function sendTranslate() {
        $("#translate_submit").attr("disabled", true)
        $.ajax({
            url: "{% url 'auto_translate_api' %}",
            data: {
                input_lang: $("#input_lang").val(),
                output_lang: $("#output_lang").val(),
                content: $("#content").val(),
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            type: "POST",
            success: updateTranslate
        })
        
        $("#translated_text").text("Translating...")
    }
    
</script>

<div class="container">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">
    <div style="text-align: center;">
    <select id="input_lang">
    {% for lang_code, lang_name in languages %}
        <option value="{{lang_code}}" {% if lang_code == "en" %} selected {% endif %}>{{lang_name}}</option>
    {% endfor %}
    </select> ->
    <select id="output_lang">
    {% for lang_code, lang_name in languages %}
        <option value="{{lang_code}}"  {% if lang_code == user.language.code %} selected {% endif %}>{{lang_name}}</option>
    {% endfor %}
    </select> 
    </div><br />
    <div class="row" style="height: 500px">
    <div class="col-md-6" style="height: 100%;">
        <textarea style="width: 100%; height:100%" id="content" placeholder="Enter text here to translate..."></textarea> 
    </div>
    <div class="col-md-6" style="height: 100%;"><pre style="width: 100%; height:100%" id="translated_text"></pre></div>
    </div>
    <input type="submit" id="translate_submit" value="Submit" onclick="sendTranslate()" />
</div>

{% endblock %}
