{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>Print</h1> 
                <div class="panel panel-default">
                <div class="panel-heading">Print Custom PDF</div>
                <div class="panel-body">
                    <span class="help-block" style="margin: 10px 0 20px;">
                        You can upload a pdf file to be submitted to the printer.
                    </span>
                    <form class="form" action="{% url 'printcustomfile'%}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            {% csrf_token %} {{ form }}
                            <br>
                            <button type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        .form-group label {
            display: none;
        }
    </style>

{% endblock %}
