{% extends "base.html" %}

{% block title %} {{ task_name }} {% endblock %}

{% block statics %}

    <link rel="stylesheet" href="/static/libs/markdown/simplemde.min.css">
    <link rel="stylesheet" href="/static/libs/markdown/editor.css">
    <link rel="stylesheet" href="/static/libs/markdown/katex.css">
    <link rel="stylesheet" href="/user/{{username}}/font.css">

    <script type="text/javascript" src="/static/libs/markdown/marked.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/simplemde.min.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/libs.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/syntax.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/buttons.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/editor.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/katex.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/auto-render.min.js"></script>
    <script type="text/javascript" src="/static/js/init-marked.js"></script>
    <script type="text/javascript" src="/static/js/editor.js"></script>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="btn-container">
            <button class="btn btn-default" onclick="saveVersion()" title="Save"><i class="fa fa-btn fa-save fa-lg"></i></button>
            <button class="btn btn-default" onclick="saveAndGo('{% url 'revisions' 'task' contest_slug task_name %}')" title="History"><i class="fa fa-btn fa-history fa-lg"></i></button>
            <button class="btn btn-default" onclick="saveAndGo('{% url 'task_pdf' 'task' contest_slug task_name %}')" title="PDF"><i class="fa fa-btn fa-file-pdf-o fa-lg"></i></button>
            {% if has_contestants %}
            <button onclick="autoSave(); sendPrint('{% url 'task_print' 'task' contest_slug task_name %}')" class="btn btn-default" title="Print a copy"><i class="fa fa-btn fa-print fa-lg"></i></button>
            {% endif %}
            {% if is_editor %}
            <button class="btn btn-default" onclick="autoSave(); release();" title="Release"><i class="fa fa-btn fa-upload fa-lg"></i></button>
            <!-- &nbsp;
            <input id="spell-checking" type="checkbox" onchange="onChangeSpellChecking()">
            <label for="spell-checking" style="font-weight: normal;">check spelling</label> -->
            {% endif %}
            {% if not is_editor %}
            <div class="btn-group pull-right" role="group">
                <button type="button" id="preview-btn" class="btn btn-default" onclick="onPreviewClick()">Preview</button>
                <button type="button" id="isc-preview-btn" class="btn btn-default" onclick="onIscPreviewClick()">ISC Preview</button>
                <button type="button" id="isc-markdown-btn" class="btn btn-default" onclick="onIscMarkdownClick()">ISC Markdown</button>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 edit-pane" style="padding: 0;">
            <div id="left_text_box_container" onkeydown="checkIfCanChange()">
                {% if direction == 'rtl' %}
                <div id="left_rtl_plain_text_box" style="white-space: pre-wrap"></div>
                {% else %}
                <textarea id="left_ltr_plain_text_box"></textarea>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6 preview-pane markdown-body">
            <div id="preview" class="rendered_content" dir="{{direction}}" lang="{{language_code}}"></div>
            <div id="isc-preview"></div>
            <div id="isc-markdown" style="white-space: pre-wrap;"></div>
        </div>
    </div>

    <div id="temp" style="display: none">{{ task }}</div>

{% endblock %}

{% block script %}

<script type="text/javascript">
    task_id = "{{taskID}}";
    home_page_url = "{% url 'firstpage' %}";
    access_edit_translate_url = "{% url 'access_edit_translate' id=taskID %}";
    finish_translation_url = "{% url 'finish_trans' id=taskID %}";
    get_latest_translation_url = "{% url 'get_latest_translation' id=taskID%}";
    save_task_url = "{% url 'save_translation' contest_slug=contest_slug task_name=task_name %}";
    task_version_url = "{% url 'revisions' 'task' contest_slug task_name  %}";
    language_code = "{{language_code}}";
    direction = "{{direction}}";
    IMAGES_URL = '{{ settings.IMAGES_URL }}';

</script>

{% endblock %}
