{% extends "base.html" %}

{% block title %} {{ task_name | capfirst}} {% endblock %}

{% block statics %}

    <link rel="stylesheet" href="/static/libs/markdown/simplemde.min.css">
    <link rel="stylesheet" href="/static/libs/markdown/editor.css">
    <link rel="stylesheet" href="/static/libs/markdown/katex.css">
    <link rel="stylesheet" href="/user/{{username}}/font.css">

    <script type="text/javascript" src="/static/libs/markdown/marked.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/simplemde.min.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/libs.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/syntax.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/buttons.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/editor.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/katex.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/auto-render.min.js"></script>
    <script type="text/javascript" src="/static/js/init-marked.js"></script>
    <script type="text/javascript" src="/static/js/editor.js"></script>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="btn-container">
            <button class="btn btn-default" onclick="saveVersion()" title="Save"><i class="fa fa-btn fa-save fa-lg"></i></button>
            <a href="{% url 'versions' contest_slug task_name %}" class="btn btn-default" title="History"><i class="fa fa-btns fa-history fa-lg"></i></a>
            <a href="{% url 'task_html' 'task' contest_slug task_name %}" class="btn btn-default" title="Preview"><i class="fa fa-btn fa-search fa-lg"></i></a>
            <a href="{% url 'task_pdf' 'task' contest_slug task_name %}" class="btn btn-default" title="PDF"><i class="fa fa-btn fa-file-pdf-o fa-lg"></i></a>
            {% if settings.PRINT_ENABLED %}
            <button onclick="sendPrint('{% url 'task_print' 'task' contest_slug task_name %}')" class="btn btn-default" title="Print"><i class="fa fa-btn fa-print fa-lg"></i></button>
            {% endif %}
            {% if is_editor %}
            <button class="btn btn-default" data-toggle="modal" data-target="#releaseModal" title="Release"><i class="fa fa-btn fa-upload fa-lg"></i></button>
            <!-- &nbsp;
            <input id="spell-checking" type="checkbox" onchange="onChangeSpellChecking()"> 
            <label for="spell-checking" style="font-weight: normal;">check spelling</label> -->
            {% endif %}
            {% if not is_editor %}
            <div class="btn-group pull-right" role="group">
                <button type="button" id="preview-btn" class="btn btn-default" onclick="onPreviewClick()">Preview</button>
                <button type="button" id="isc-preview-btn" class="btn btn-default" onclick="onIscPreviewClick()">ISC Preview</button>
                <button type="button" id="isc-markdown-btn" class="btn btn-default" onclick="onIscMarkdownClick()">ISC Markdown</button>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 edit-pane" style="padding: 0;">
            <div id="left_text_box_container" onkeydown="checkIfCanChange()">
                {% if direction == 'rtl' %}
                <div id="left_rtl_plain_text_box" style="white-space: pre-wrap"></div>
                {% else %}
                <textarea id="left_ltr_plain_text_box"></textarea> {% endif %}
            </div>
        </div>
        <div class="col-sm-6 preview-pane markdown-body">
            <div id="preview" class="rendered_content" dir="{{direction}}" lang="{{language}}"></div>
            <div id="isc-preview"></div>
            <div id="isc-markdown" style="white-space: pre-wrap;"></div>
        </div>
    </div>

    <!-- temp div as container of task text -->
    <div id="temp" style="display: none">{{ task }}</div>

    <!-- Access Denied Modal -->
    <div class="modal fade" id="accessDeniedModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>The task is being edited somewhere else!</h4>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'firstpage' %}" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

<script type="text/javascript">
    task_id = "{{taskID}}";
    version_particle_url = "{% url 'save_version_particle' contest_slug=contest_slug task_name=task_name %}";
    access_edit_translate_url = "{% url 'access_edit_translate' id=taskID %}";
    finish_translation_url = "{% url 'finish_trans' id=taskID %}";
    get_latest_translation_url = "{% url 'get_latest_translation' id=taskID%}";
    save_task_url = "{% url 'save_translation' contest_slug=contest_slug task_name=task_name %}";
    task_version_url = "{% url 'task_versions' contest_slug=contest_slug task_name=task_name  %}";
    language = "{{language}}";
    direction = "{{direction}}";
</script>

{% endblock %}

