{% if text_font_base64 %}
@font-face {
    font-family: 'CustomTextFont';
    src: url(data:font/truetype;charset=utf-8;base64,{{text_font_base64}})
}
{% endif %}

#rendered_content, #right_text_box {
    font-family: 'CustomTextFont', Arial, serif;
}

code::before, code::after,
.md-code::before, .md-code::after,
.math::before, .math::after {
    content: "‎";   /* the string contains an invisible &lrm; character */
}
