{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<script type="text/javascript">
    if(performance.navigation.type == 2) {
                location.reload(true);
        }
</script>

<div class="container">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">
    {% if home_content %}
      <div class="flatpage">
          {{ home_content | safe }}
      </div>
    {% endif %}

    {% for cinfo in contest_infos %}
      <h2>{{ cinfo.title }}</h2>

      {% if is_editor %}
        <h4>You are editing the primary English version.</h4>
      {% else %}
        {% if is_translating %}
          <h4>Your team is translating into <b>{{ user.language.name }} ({{ user.language_code }})</b>.</h4>
        {% else %}
          <h4>Your team is not translating.</h4>
        {% endif %}
      {% endif %}
      <br>

      {# Task table #}
      <table class="table table-hover">

        <thead>
          <tr>
            <th width="15%">Task</th>
            {% if is_editor or is_translating %}
              <th>Edit</th>
            {% endif %}
            {% if is_editor %}
              <th>Current Version</th>
              <th>Latest Release</th>
            {% else %}
              {% if is_translating %}
                <th>Translation</th>
                <th>Finalize</th>
              {% endif %}
              <th>ISC Version</th>
            {% endif %}
          </tr>
        </thead>

        <tbody>
          {% for task in cinfo.tasks %}
            <tr
              class="task-row"
              data-contest-slug="{{ cinfo.slug }}"
              data-task-name="{{ task.name }}"
              data-task-frozen="{{ task.frozen|yesno:'True,False' }}">
              <td>{{ task.name }}</td>

              {% if is_editor or is_translating %}
                {# Edit #}
                <td>
                  {% if task.is_editing %}
                    Is editing
                  {% elif task.frozen %}
                    {% if task.translating %}
                      Finalized
                    {% else %}
                      Not translating
                    {% endif %}
                  {% else %}
                    <a href="{% url 'edit' cinfo.slug task.name %}" class="btn btn-default">Edit</a>
                  {% endif %}
                </td>

                {# Edit buttons #}
                <td>
                  <a href="{% url 'revisions' 'task' cinfo.slug task.name %}"
                     class="btn btn-default"
                     title="History">
                    <i class="fa fa-btns fa-history fa-lg"></i>
                  </a>
                  {% if not task.frozen or task.translating %}
                    <a href="{% url 'task_pdf' 'task' cinfo.slug task.name %}"
                      class="btn btn-default"
                      title="PDF">
                      <i class="fa fa-btns fa-file-pdf-o fa-lg"></i>
                  </a>
                  {% endif %}
                  {% if not task.frozen and is_onsite %}
                    <button
                      onclick="sendPrint('{% url 'task_print' 'task' cinfo.slug task.name %}')"
                      class="btn btn-default"
                      title="Print a copy">
                      <i class="fa fa-btn fa-print fa-lg"></i>
                    </button>
                  {% endif %}
                  {% if task.is_editing %}
                    <form method="post" action="{% url 'unleash_edit_token' id=task.trans_id %}" style="display: inline">
                      {% csrf_token %}
                      <button
                        type="submit"
                        class="btn btn-danger"
                        title="Break edit lock">
                        <i class="fa fa-btns fa-bolt fa-lg"></i>
                      </button>
                    </form>
                  {% endif %}
                </td>
              {% endif %}

              {% if is_translating %}
                {# Finalization #}
                <td>
                  {% if cinfo.user_contest is None or not cinfo.user_contest.frozen %}
                    <form method="post" action="{% url 'user_freeze_trans' task_name=task.name %}">
                      {% csrf_token %}
                      <input
                        type="hidden"
                        name="freeze"
                        value="{{ task.frozen|yesno:'False,True' }}"/>

                      {% if task.frozen %}
                        <button
                          type="submit"
                          name="reopen"
                          class="btn btn-default"
                          onclick="return confirm('Are you sure?');">
                          Reopen
                        </button>
                      {% else %}
                        {% if task.trans_id is None %}
                          <button type="submit" class="btn btn-default" disabled>
                            Not started
                          </button>
                        {% else %}
                          <button
                            type="submit"
                            class="btn btn-info"
                            name="translating"
                            value="True"
                            onclick="return confirm('Finalizing translation for {{ task.name }}. Are you sure?')">
                            Finalize
                          </button>
                        {% endif %}
                          <button
                            type="submit"
                            class="btn btn-danger"
                            name="translating"
                            value="False"
                            onclick="return confirm('Not translating {{ task.name }}. Are you sure?')">
                            Not translating
                          </button>
                      {% endif %}
                    </form>
                  {% endif %}
                </td>
              {% endif %}

              <td>
                {# ISC Version #}
                {% if not is_editor %}
                  {# Editors had revision history already displayed among the edit buttons #}
                  <a
                    href="{% url 'revisions' 'released' cinfo.slug task.name %}"
                    class="btn btn-default"
                    title="History">
                    <i class="fa fa-btns fa-history fa-lg"></i>
                  </a>
                {% endif %}
                {# <a href="{% url 'task_md' 'released' cinfo.slug task.name %}" class="btn btn-default" title="Markdown"><i class="fa fa-btn fa-file-text-o fa-lg"></i></a> #}
                <a
                  href="{% url 'task_pdf' 'released' cinfo.slug task.name %}"
                  class="btn btn-default"
                  title="PDF">
                  <i class="fa fa-btns fa-file-pdf-o fa-lg"></i>
                </a>
                {% if is_onsite %}
                  <button
                    onclick="sendPrint('{% url 'task_print' 'released' cinfo.slug task.name %}')"
                    class="btn btn-default"
                    title="Print a copy">
                    <i class="fa fa-btn fa-print fa-lg"></i>
                  </button>
                {% endif %}
              </td>

            {# End of task #}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if not is_editor %}
        {# Contestants, sealing etc. #}

        {# Status of finalization #}
        {% if cinfo.user_contest and cinfo.user_contest.frozen %}
          {% if is_translating %}
            <div class="alert alert-success">
              <p>Your translation has been submitted.</p>

              {% if cinfo.user_contest.note %}
                <p><b>Note:</b> {{cinfo.user_contest.note}}</p>
              {% endif %}
            </div>
          {% endif %}

          {% if is_onsite %}
            {% if cinfo.user_contest.skip_verification %}
              {# Simplified protocol with no verification #}
              <div class="alert alert-success">
                <p><b>All set!</b> You chose not to verify your contestant envelopes.</p>
              </div>
            {% else %}
              {# Full protocol with verification #}
              {% if cinfo.user_contest.sealed %}
                <div class="alert alert-success">
                  <p><b>All set!</b> You have verified and sealed your contestant envelopes.</p>
                </div>
              {% else %}
                <div class="alert alert-info">
                  <p><b>We are preparing your contestant envelopes.</b></p>
                  <p>Please wait for a runner to approach your desk to verify and seal the envelopes.</p>
                </div>
              {% endif %}
            {% endif %}
          {% else %}
            {# Remote contestants: submit is enough #}
            <div class="alert alert-success">
              <p><b>All set!</b> Your contestants will receive task statements in the CMS.</p>
            </div>
          {% endif %}
        {% endif %}

        {# Summary: what will contestants receive #}
        {% if is_onsite %}
          {% if is_translating %}
            <p>Your contestants will receive printed <b>English</b> statements and the following translations:</p>

            {# Languages for contestants #}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Translation</th>
                </tr>
              </thead>
              <tbody>
                {% for ctant, trans in cinfo.contestant_translations %}
                  <tr>
                    <td>{{ ctant.code }}</td>
                    <td>{{ ctant.name }}</td>
                    <td>
                      {% if ctant.on_site %}
                        {% if trans %}
                          {{ trans }}
                        {% else %}
                          <i>no translation requested</i>
                        {% endif %}
                      {% else %}
                        <i>online contestants receive all translations in CMS</i>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          {% else %}
            <p>Your contestants will receive printed <b>English</b> statements.</p>
          {% endif %}
        {% else %}
          {% if is_translating %}
            <p>Your contestants will receive all translations in the CMS.</p>
          {% endif %}
        {% endif %}

        {# Buttons for submitting translations and changing settings #}
        {% if is_onsite or is_translating %}
          {% if not cinfo.user_contest or not cinfo.user_contest.frozen %}
            <div class="button-row">
              {# Settings #}
              <a class="btn btn-info" href="{% url 'edit_user_contest' username=user.username contest_id=cinfo.id %}">
                Edit contestants
              </a>

              {# Submit #}
              <form
                class="form-inline"
                method="post"
                action="{% url 'freeze_user_contest' username=user.username contest_id=cinfo.id %}">
                {% csrf_token %}

                <button type="submit" class="btn btn-success">
                  {% if is_translating %}
                    Submit my finalized translation
                  {% else %}
                    Submit
                  {% endif %}
                </button>
              </form>
            </div>
          {% endif %}
        {% endif %}

      {# End of contestants, sealing etc. #}
      {% endif %}

    {# End of contest #}
    {% endfor %}

  </div>
</div>

{% endblock %}
