{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<script type="text/javascript">
    if(performance.navigation.type == 2) {
		location.reload(true);
	}
</script>

    <div class="container">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            {% if home_content %}
            <div class="flatpage">
                {{ home_content | safe }}
            </div>
            {% endif %}
            
            {% for contest in tasks_lists %}
            <h2>{{ contest.title }}</h2>
            <table class="table table-hover" id="tasklist-{{ contest.slug }}">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Edit</th>
                        {% if is_editor %}
                        <th>Current Version</th>
                        <th>Latest Release</th>
                        {% else %}
                        <th>Translation</th>
						<th>Finalize</th>
                        <th>ISC Version</th>
                        {% endif %}
                    </tr>
                </thead>                
                <tbody>
                {% for task in contest.tasks %}
                    <tr>
                        <td> {{ task.name | capfirst }} </td>
                        <td>
                            {% if task.is_editing %} Is editing
                            {% elif task.frozen %} 
                                {% if task.not_translating %} Not Translating {% else %} Frozen {% endif %}
                            {% else %}<a href="{% url 'edit' contest.slug task.name %}">Edit</a>{% endif %}
                        </td>
                        <td> 
                            <a href="{% url 'revisions' 'task' contest.slug task.name %}" class="btn btn-default" title="History"><i class="fa fa-btns fa-history fa-lg"></i></a>
                            <a href="{% url 'task_html' 'task' contest.slug task.name %}" class="btn btn-default" title="Preview"><i class="fa fa-btns fa-search fa-lg"></i></a>
                            <!-- <a href="{% url 'task_md' 'task' contest.slug task.name %}" class="btn btn-default" title="Markdown"><i class="fa fa-btn fa-file-text-o fa-lg"></i></a> -->
                            <a href="{% url 'task_pdf' 'task' contest.slug task.name %}" class="btn btn-default" title="PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a>
                            {% if settings.PRINT_ENABLED and not task.frozen %}
                            <button onclick="sendPrint('{% url 'task_print' 'task' contest.slug task.name %}')" class="btn btn-default" title="Print ONE copy"><i class="fa fa-btn fa-print fa-lg"></i></button>
                            {% endif %}
                        </td>
					{% if not is_editor %}
						<td>
							
                            {% if not contest.user_contest.frozen%}
                                <form method="post" action="{% url 'user_freeze_trans' contest_slug=contest.slug task_name=task.name %}">
                                    {% csrf_token %}
                                    {% if task.frozen %}
                                    <button type="submit" name="reopen" class="btn btn-default" onclick="return confirm('Are you sure?');">Reopen </button>
                                    {% else %}
                                        {% if task.trans_id %}
                                        <button type="submit" name="freeze" class="btn btn-info" onclick="return confirm('Finalizing! Are you sure?');" >Finalize</button>
                                        {% else %}
                                        <button name="freeze" class="btn btn-info" disabled>Not Started</button>
                                        {% endif %}
                                    <button type="submit" name="not_translating" class="btn btn-danger" onclick="return confirm('Not translating! Are you sure?');" >Not Translating</button>
                                    {% endif %}
                                    
                                </form>
                            {% else %}
                                {% if task.final_pdf_url %}
                                <a href="../{{ task.final_pdf_url }}" class="btn btn-default" title="Final PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i> Final PDF</a>
                                {% endif %}
                            {% endif %}
						</td>
					{% endif %}
                        <td>
                            {% if not is_editor %}
                            <a href="{% url 'revisions' 'released' contest.slug task.name %}" class="btn btn-default" title="History"><i class="fa fa-btns fa-history fa-lg"></i></a>
                            {% endif %}
                            <a href="{% url 'task_html' 'released' contest.slug task.name %}" class="btn btn-default" title="Preview"><i class="fa fa-btns fa-search fa-lg"></i></a>
                            <!-- <a href="{% url 'task_md' 'released' contest.slug task.name %}" class="btn btn-default" title="Markdown"><i class="fa fa-btn fa-file-text-o fa-lg"></i></a> -->
                            <a href="{% url 'task_pdf' 'released' contest.slug task.name %}" class="btn btn-default" title="PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a>
                            {% if settings.PRINT_ENABLED and is_editor %}
                            <button onclick="sendPrint('{% url 'task_print' 'released' contest.slug task.name %}')" class="btn btn-default" title="Print ONE copy"><i class="fa fa-btn fa-print fa-lg"></i></button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
			
		{% if not is_editor %}
			{% if contest.user_contest %}
				<h3 style="color:green">All translations for {{ contest.title }} have been finalized for team {{ user.username }}. If this is in error, please contact a member of the HTC/ITC.<br>
				{% if contest.user_contest.note %}
					<b>Note:</b>
					{{contest.user_contest.note}}
				{% endif %}
				<button type="button" class="btn btn-default" disabled style="margin:0 auto;display:block;">
				Unfreeze Contest (staff)</button>
			{% else %}
				<form class="form-inline" method="post" action="{% url 'freeze_user_contest' username=user.username contest_id=contest.id%}">
				{% csrf_token %}
				<button type="submit" id="final_submit" class="btn btn-success " style="margin:0 auto;display:block;" onclick="return validateFinalizeTranslation(this, 'tasklist-{{contest.slug}}', {{contest.tasks|length}});" >
				Finalize Translations </button>
				</form>
			{% endif %}
		{% endif %} 
			
            {% endfor %}
        </div>
    </div>

{% endblock %}
