{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            {% if home_content %}
            <div class="flatpage">
                {{ home_content | safe }}
            </div>
            {% endif %}
            
            {% for contest in tasks_lists %}
            <h2>{{ contest.title }}</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="20%">Task</th>
                        <th width="20%">Edit</th>
                        {% if is_editor %}
                        <th>Current Version</th>
                        <th>Latest Release</th>
                        {% else %}
                        <th>Translation</th>
                        <th>ISC Version</th>
                        {% endif %}
                    </tr>
                </thead>                
                <tbody>
                {% for task in contest.tasks %}
                    <tr>
                        <td> {{ task.name | capfirst }} </td>
                        <td>
                            {% if task.is_editing %} Is editing
                            {% elif task.frozen %} Frozen
                            {% else %}<a href="{% url 'edit' contest.slug task.name %}">Edit</a>{% endif %}
                        </td>
                        <td>
                            <a href="{% url 'revisions' 'task' contest.slug task.name %}" class="btn btn-default" title="History"><i class="fa fa-btns fa-history fa-lg"></i></a>
                            <a href="{% url 'task_html' 'task' contest.slug task.name %}" class="btn btn-default" title="Preview"><i class="fa fa-btns fa-search fa-lg"></i></a>
                            <!-- <a href="{% url 'task_md' 'task' contest.slug task.name %}" class="btn btn-default" title="Markdown"><i class="fa fa-btn fa-file-text-o fa-lg"></i></a> -->
                            <a href="{% url 'task_pdf' 'task' contest.slug task.name %}" class="btn btn-default" title="PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a>
                            {% if settings.PRINT_ENABLED %}
                            <button onclick="sendPrint('{% url 'task_print' 'task' contest.slug task.name %}')" class="btn btn-default" title="Print"><i class="fa fa-btn fa-print fa-lg"></i></button>
                            {% endif %}
                        </td>
                        <td>
                            {% if not is_editor %}
                            <a href="{% url 'revisions' 'released' contest.slug task.name %}" class="btn btn-default" title="History"><i class="fa fa-btns fa-history fa-lg"></i></a>
                            {% endif %}
                            <a href="{% url 'task_html' 'released' contest.slug task.name %}" class="btn btn-default" title="Preview"><i class="fa fa-btns fa-search fa-lg"></i></a>
                            <!-- <a href="{% url 'task_md' 'released' contest.slug task.name %}" class="btn btn-default" title="Markdown"><i class="fa fa-btn fa-file-text-o fa-lg"></i></a> -->
                            <a href="{% url 'task_pdf' 'released' contest.slug task.name %}" class="btn btn-default" title="PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a>
                            {% if settings.PRINT_ENABLED %}
                            <button onclick="sendPrint('{% url 'task_print' 'released' contest.slug task.name %}')" class="btn btn-default" title="Print"><i class="fa fa-btn fa-print fa-lg"></i></button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>

{% endblock %}
