{% extends "base.html" %}
{% load timezone_filter %}

{% block content %}

    <div class="container">

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for notif in notifications %}
                            <tr>
                                <td width="20%">{{notif.title}}</td>
                                <td width="60%">{{notif.description}}</td>
                                <td width="20%">{{notif.create_time | ioi_timezone}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
