{% extends "base.html" %}
{% load timezone_filter %}

{% block title %} Notifications {% endblock %}

{% block content %}

    <div class="body container col-sm-10 col-sm-offset-1">
        <h1>Notifications</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for notif in notifications %}
                <tr class="notification {% if not notif.read %}active{% endif %}" {% if not notif.read %} onclick="readNotification({{ notif.id }}, true)"{% endif %}>
                    <td width="20%">{{notif.create_time | ioi_timezone | safe}}</td>
                    <td width="20%">{{notif.title}}</td>
                    <td>{{notif.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>
        <a style="cursor: pointer;" onclick="readAllNotification(true)">mark all as read</a>

    </div>

{% endblock %}
