{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="/static/libs/markdown/simplemde.min.css">
    <link rel="stylesheet" href="/static/libs/markdown/editor.css">
    <link rel="stylesheet" href="/static/libs/markdown/katex.css">

    <script type="text/javascript" src="/static/libs/markdown/marked.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/simplemde.min.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/libs.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/syntax.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/buttons.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/editor.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/katex.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/auto-render.min.js"></script>
    <script type="text/javascript" src="/static/js/init-marked.js"></script>
    <script type="text/javascript" src="/static/js/preview.js"></script>

    {% if text_font_base64  %}

        <style>
        @font-face {
            font-family: 'OpenSans';
            src: url(data:font/truetype;charset=utf-8;base64,{{text_font_base64}})
        }

        body {
            font-family: 'OpenSans';
        }
        </style>
    {% endif %}


    <div class="col-sm-6 col-sm-offset-3" id="middle-container">
        <div class="alert alert-info" role="alert">
            Another one is editing this article so you can't edit it ...
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="preview-box" class="text-container" style="white-space: pre-line"></div>
            </div>
        </div>
    </div>


    {#  hidden box  #}
    <div id="markdown-box">{{ trans }}</div>

    <script type="text/javascript">
        rtl = '{{ rtl }}' == 'True';
    </script>


{% endblock %}