{% extends "base.html" %}

{% block title %} Settings {% endblock %}

{% block content %}

    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>Settings</h1> 
            <div class="panel panel-default">
                <div class="panel-heading">Custom Font</div>
                <div class="panel-body">
                    <span class="help-block" style="margin: 10px 0 20px;">
                        A true-type font can be uploaded here to be used in the translation. This supersedes all other font settings.
                    </span>
                    <form class="form-horizontal" action="{% url 'settings'%}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="font_upload" id="font_upload" value="font_upload" />
                        <div class="form-group">
                            {% if text_font_name %}
                            <label class="control-label col-sm-3" for="email">Uploaded Font:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">
                                    {{text_font_name}} &nbsp;
                                    <a href="#" onclick='removeFont()' title="Remove uploaded font" >
                                        <span class="fa fa-btns fa-remove"></span>
                                    </a>
                                </p>
                            </div>                       
                            {% else %}
                            <label class="control-label col-sm-3" for="uploaded_file">Upload Font:</label>
                            <div class="col-sm-9" id="file_upload_wrapper">
                                <p class="form-control-static">
                                    {% csrf_token %} {{ form }}
                                </p>
                                <input type="submit" id="form-submit" class="btn btn-primary hidden" value="Upload">
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class="panel-body">
                    <span class="help-block" style="margin: 10px 0 20px;">
                        Alternatively, these fonts are already installed in Translation App. If you see a font you like, you can use it directly.
                    </span>
                    <form class="form-horizontal" action="{% url 'settings'%}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="font_select" id="font_select" value="font_select" />
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="text_family">Select Font:</label>
                            <div class="col-sm-5">
                                <select class="form-control" name="text_family" id="text_family">
                                    {% if not text_family %}
                                    <option value="">Default (Arial) (Currently selected)</option>
                                    {% else %}
                                    <option value="">Default (Arial)</option>
                                    {% endif %}
                                    {% for font in available_fonts %}
                                    {% if text_family and font == text_family %}
                                    <option selected value="{{ font }}">{{ font }} (Currently selected)</option>
                                    {% else %}
                                    <option value="{{ font }}">{{ font }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-4">
                                {% if text_font_name %}
                                <input type="submit" id="form-submit" class="btn btn-warning" disabled value="&times; Clear custom font first">
                                {% else %}
                                <input type="submit" id="form-submit" class="btn btn-primary" value="Use font">
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <style>
        #file_upload_wrapper>p>label {
            display: none;
        }
    </style>
    <script>
    
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }
        
        function removeFont() {
            $.ajax({
                url: " {% url 'settings' %}",
                type: "DELETE",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
                success: function (response) {
                    location.reload();
                },
                complete: function () {},
                error: function (xhr, textStatus, thrownError) {}
            });
        }
                
        $(document).ready(function(){
            $('#id_uploaded_file').change(function(e){
                $('#form-submit').removeClass('hidden');
            })
        });
        
    </script>


{% endblock %}
