{% extends "base.html" %}

{% block content %}

    <!-- <div class="container">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="{%  url 'task' %}" method="post">
                        {% csrf_token %}
                        <label for="task_name">Task Name: </label>
                        <input id="task_name" class="form-control" type="text" name="name" style="width:200px; display:inline-block;">
                        <select class="form-control" name="contest" style="width:100px; display:inline-block;" >
                             {% for contest in contests %}
                             <option value="{{contest.id}}">{{contest.title}}</option>
                             {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-primary" value="Add Task">
                    </form>
                </div>
            </div>
        </div> -->

        {% for contest_tasks in tasks_lists %}
        <div class="body container col-sm-8 col-sm-offset-2">
            <h2>{{contest_tasks.title}}</h2>
            <table class="table table-hover">
                <thead><tr>
                    <th width="25%">Task</th>
                    <th width="25%">Edit</th>
                    <th>ISC Version</th>
                </tr></thead>
                <tbody>
                {% for task in contest_tasks.tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>
                            {% if task.frozen %}
                                Frozen
                            {% else %}
                                <a href="{% url 'edittask' contest_slug=task.contest_slug task_name=task.name %}">Edit</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'task_md' contest_slug=contest_tasks.slug task_name=task.name%}" class="btn btn-default" title="Markdown"><i class="fa fa-btn fa-file-text-o fa-lg"></i></a>
                            <a href="{% url 'task_versions' contest_slug=contest_tasks.slug task_name=task.name %}" class="btn btn-default" title="History"><i class="fa fa-btns fa-history fa-lg"></i></a>
                            <a href="{% url 'task_pdf' contest_slug=contest_tasks.slug task_name=task.name%}" class="btn btn-default" title="PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a>
                            <a href="{% url 'mailtaskpdf'%}?id={{task.id}}" class="btn btn-default" title="Print"><i class="fa fa-btns fa-print fa-lg"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>

{% endblock %}
