{% extends "base.html" %}

{% load dict_filter %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container-fluid">
  {% for contest in contests %}
    <h2>{{ contest.title }}</h2>

    <div class="col-md-12 col-lg-12 row">
      {% for userpart in users_public %}
        <div class="col-md-3 col-lg-3">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>User</th>
                <th style="text-align: left;">Team</td>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              {% for user in userpart|dictsort:"username" %}
                <tr>
                  <td><a href="{% url 'user_trans' username=user.username %}">{{ user.username }}</a></td>

                  <td style="text-align: left;">
                    {% if user.is_onsite %}
                      {{ user.country_name }}
                    {% else %}
                      <i>{{ user.country_name }}</i>
                    {% endif %}
                  </td>

                  <td>
                    {% with user_contest=user_contests|get_dict:user.username|get_dict:contest.id %}
                      {% if user.is_editor %}
                        {# Nothing interesting for ISC #}
                      {% elif user_contest is not None and user_contest.frozen %}
                        {# Frozen #}
                        {% if user_contest.sealed %}
                          {# Sealed: Everything done #}
                          <span style="color: green">
                            <b>
                              <i class="fa fa-envelope fa-lg"></i>
                              Done {% if user.is_onsite %}(sealed){% else %}(remote){% endif %}
                            </b>
                          </span>
                        {% else %}
                          <span style="color: orange">
                            <b>
                              <i class="fa fa-user fa-lg"></i>
                              Printing
                            </b>
                          </span>
                        {% endif %}
                      {% elif not user.is_translating %}
                        {# Team is not translating #}
                        <span>
                          <i class="fa fa-list fa-lg"></i>
                          Choosing Copies
                        </span>
                      {% else %}
                        {# Team is translating #}
                        <span>
                          <i class="fa fa-pencil fa-lg"></i>
                          In Progress
                        </span>
                      {% endif %}
                    {% endwith %}
                  </td>

                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

{% include "autorefresh.html" %}

{% endblock %}
