{% extends "base.html" %}

{% block title %} {{ country }} {% endblock %}

{% block content %}

<div class="container">
    <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <h1>{{ country }} ({{ user_name }})</h1>


        {% for contest in tasks_lists %}
        <h2>{{ contest.title }}</h2>
			{% if contest.user_contest %}
			    <h4>This contest has been frozen for this user.</h4>
				{% if contest.user_contest.note %}
					<p>
						<b>Freeze Note:</b>
						{{contest.user_contest.note}}
					</p>
				{% endif %}
				<form class="form-inline" method="post" onsubmit="return confirm('Are you sure to unfreeze? Once unfrozen, existing prints for the team should be considered old and discarded.');"
                    action="{% url 'unfreeze_user_contest' username=user_name contest_id=contest.id%}">
				{% csrf_token %}
				<button type="submit" class="btn btn-default btn-danger ">
                Unfreeze
				</button>
				</form>

                {% if has_contestants %}
                    <!-- only applicable if team has contestants. Otherwise, it's only a matter of freezing / unfreezing, no print/sign needed. -->
                    {% if not contest.user_contest.sealed %}
                        <br>
                        <!-- not yet contest.user_contest.sealed, so prompt staff to collect, prepare envelopes and bring to TL for checking -->
                        <h4>The contestant envelopes are being verified.</h4>
                        <form class="form-inline" method="post" onsubmit="return confirm('Are you sure to mark as sealed? This cannot be undone.');"
                            action="{% url 'seal_user_contest' username=user_name contest_id=contest.id%}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-info">
                        Mark as sealed
                        </button>
                        </form>
                    {% endif %}
                {% endif %}

			{% else %}
                <form class="form-inline" method="post" action="{% url 'freeze_user_contest' username=user_name contest_id=contest.id%}">
                    {% csrf_token %}
                    <label for="note">Freeze Note:</label>
                    <input type="text" class="form-control" id="note" name="note">
                    <button type="submit" class="btn btn-success ">
                        Force Freeze
                    </button>
                </form>
        {% endif %}
        <br>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Unleash Lock</th>
                {% if user_name == "ISC" %}
                <th>ISC Version</th>
                {% else %}
                <th>Translation</th>
                {% endif %}
                <th>Finalize</th>
                <th>Final PDF</th>
            </tr>
            </thead>
            <tbody>
            {% for task in contest.tasks %}
            <tr>
                <td> {{ task.name }}</td>
                <td>
                    {% if task.is_editing %} Is editing
                    {% elif task.frozen %} Finalized
                    {% elif task.trans_id == None %} Not started
                    {% else %} Started {% endif %}
                </td>
                <td>
                    {% if task.is_editing %}
                        <form method="post" action="{% url 'unleash_edit_token' id=task.trans_id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info"> Unleash </button>
                        </form>
                    {% endif %}
                </td>
                {% if user_name == "ISC" %}
                <td>
                    <a href="{% url 'task_pdf' 'released' contest.slug task.name %}"
                       class="btn btn-default" title="PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a>
                </td>
                {% else %}
                <td>
                    <a href="{% url 'task_pdf' 'task' contest.slug task.name %}?user={{user_name}}"
                       class="btn btn-default" title="PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a>
                </td>
                {% endif %}
                <td>
		  <form method="post" action="{% url 'staff_freeze_trans' task_name=task.name username=user_name %}">
		    {% csrf_token %}
		    <input type="hidden" name="freeze" value="{{ task.frozen|yesno:'False,True' }}" />

		    {% if task.frozen %}
		      <button
			type="submit"
			class="btn btn-default"
			name="reopen"
			onclick="return confirm('Are you sure?')">
			Reopen
		      </button>
		    {% else %}
		      {% if task.trans_id is None %}
		        <button
			  type="submit"
			  class="btn btn-default" disabled>
			  Not started
		        </button>
		      {% else %}
		        <button
			  type="submit"
			  name="translating"
			  class="btn btn-info"
			  value="true"
			  onclick="return confirm('Finalizing translation for {{ task.name }}. Are you sure?')"
			  >
			  Finalize
			</button>
		      {% endif %}
		      <button
			type="submit"
			class="btn btn-danger"
			name="translating"
			value="false"
			onclick="return confirm('Not translating {{ task.name }}. Are you sure?')"
			>
			Not translating
		      </button>
		    {% endif %}
		  </form>
                </td>
                <td>
                {% if task.final_pdf_url %}
                    <a href="{{task.final_pdf_url}}" class="btn btn-default" title="PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a>
                {% else %}
                    {% if can_upload_final_pdf and contest.user_contest.frozen %}
                         <a class="btn btn-info open-UploadTaskPDF" data-id="{{task.trans_id}}" href="#" data-toggle="modal" data-target="#addTransPDF">Add User PDF</a>
                    {% endif %}
                {% endif %}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="addTransPDF" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Final Translated Task</h4>
            </div>
            <div>
                <form class="form" id="uploadPdfId" action="{% url 'upload_final_pdf'%}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form }}
                        <input type="hidden" name="trans_id" id="input_trans_id" value="">
                        <button type="submit">Add Final Pdf</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("click", ".open-UploadTaskPDF", function () {
         var myTransId = $(this).data('id');
         $("#input_trans_id").attr('value', myTransId );
    });

</script>


{% endblock %}
