{% extends "base.html" %}

{% load dict_filter %}

{% block title %} Overview of translations {% endblock %}

{% block content %}

<div class="container">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">
    {% for contest in contests %}
      <h2>{{ contest.title }}</h2>

      <p>Print Job Queue: <a href="/queue/jobs/{{ contest.slug }}/draft/">Draft Translations</a> | <a href="/queue/jobs/{{ contest.slug }}/final/">Final Translations</a></p>
      <hr>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>User</th>
            <th style="text-align: left;">Team</td>
            <th>Language</th>
            <th>Status</th>
            {% for task in contest_tasks|get_dict:contest.id %}
              <th>{{ task.name }}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for user in users|dictsort:"username" %}
            <tr>
              <td><a href="{% url 'user_trans' username=user.username %}">{{ user.username }}</a></td>

              <td style="text-align: left;">
                {{ user.country_name }}
                {% if not user.is_onsite %}(remote){% endif %}
              </td>

              <td>
                {% if user.is_translating or user.is_editor %}
                  {{ user.language_code }}
                {% else %}
                  —
                {% endif %}
              </td>

              <td>
                {% with user_contest=user_contests|get_dict:user.username|get_dict:contest.id %}
                  {% if user.is_editor %}
                    {# Nothing interesting for ISC #}
                  {% elif user_contest is not None and user_contest.frozen %}
                    {# Frozen #}
                    {% if user_contest.sealed %}
                      {# Sealed: Everything done #}
                      <span style="color: green">
                        <b>
                          <i class="fa fa-envelope fa-lg"></i>
                          Done {% if user.is_onsite %}(sealed){% else %}(remote){% endif %}
                        </b>
                      </span>
                    {% else %}
                      <span style="color: orange">
                        <b>
                          <i class="fa fa-user fa-lg"></i>
                          Printing {% if not user_contest.skip_verification %}(needs seal){% endif %}
                        </b>
                      </span>
                    {% endif %}
                  {% elif not user.is_translating %}
                    {# Team is not translating #}
                    <span>
                      <i class="fa fa-list fa-lg"></i>
                      Choosing Copies
                    </span>
                  {% else %}
                    {# Team is translating #}
                    <span>
                      <i class="fa fa-pencil fa-lg"></i>
                      In Progress
                    </span>
                  {% endif %}
                {% endwith %}
              </td>

              {% for task in contest_tasks|get_dict:contest.id %}
                {% with translation=user_translations|get_dict:user.username|get_dict:task.name %}
                {% with user_contest=user_contests|get_dict:user.username|get_dict:contest.id %}
                  <td>
                    {% if translation is not None and translation.final_pdf_url is not None %}
                      <a class="btn btn-default" href="{{translation.final_pdf_url}}"><i class="fa fa-file-pdf-o fa-lg"></i></a>
                    {% else %}
                      {% if user.is_editor %}
                      {% elif not user.is_translating %}
                        <span style="color: red">
                          <i class="fa fa-minus fa-lg"></i>
                        </span>
                      {% elif translation is None %}
                        <span style="color: brown">
                          <i class="fa fa-question fa-lg"></i>
                        </span>
                      {% elif translation.translating is None %}
                        <span style="color: brown">
                          <i class="fa fa-pencil fa-lg"></i>
                        </span>
                      {% elif not translation.translation %}
                        <span style="color: red">
                          <i class="fa fa-times fa-lg"></i>
                        </span>
                      {% else %}
                        <!-- Where's the PDF file? -->
                        <i class="fa fa-file-pdf-o fa-lg"></i>
                      {% endif %}
                    {% endif %}
                  </td>
                {% endwith %}
                {% endwith %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
</div>

{% include "autorefresh.html" %}

{% endblock %}
