{% extends "base.html" %}
{% load getattr_filter %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            
            {% for contest in contests %}
                <h2>{{ contest.name }}</h2>
                <table class="table" style="width: auto;">
                    <thead>
                        <tr>
                            <th style="text-align: left;">Country</th>
                            <th>User</th>
                            <th width="20%">Translations</th>
                            <th>Language</th>
                            <th>Frozen</th>
                            {% for task_name in contest.data.tasks %}
                                <th>{{ task_name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in contest.data.users|dictsort:"user.country.name" %}
                        <tr>
                            <td style="text-align: left;">{{user.user.country.name}}</td>
                            <td>{{ user.user.username}}</td>
                            <td><a href="{% url 'user_trans' username=user.user.username %}">Translations</a></td>
                            <td>{{user.user.language}}</td>
                            <td>{% if user.frozen %} <span style="color:blue">Yes</span> {% endif %}</td>
                            {% for task_name in contest.data.tasks %}
                                {% with pdf_url=user|get_dict_attr:task_name %} 
                                {% if pdf_url == "Not Translating" %}
                                    <td>Not Translating</td>
                                {% elif pdf_url is not None %}
                                    <td><a href="../{{pdf_url}}" class="btn btn-default" title="{{user.user.country.name}}: {{task_name}}"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% endwith %}
                            {% endfor %}
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}

        </div>
    </div>

{% endblock %}
