{% extends "base.html" %}

{% block title %} {{ country }} {% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            <h1>{{ country }} ({{ user_name }})</h1>

            
            {% for contest in tasks_lists %}
            <h2>{{ contest.title }}</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="20%">Task</th>
                        <th width="20%">Status</th>
                        <th>Translation</th>
                        <th width="20%">Freeze</th>
                        <th width="15%">Lock</th>
                    </tr>
                </thead>                
                <tbody>
                {% for task in contest.tasks %}
                    <tr>
                        <td> {{ task.name | capfirst }} </td>
                        <td>
                            {% if task.is_editing %} Is editing
                            {% elif task.frozen %} Frozen
                            {% elif task.trans_id == None %} Not started
                            {% else %} Started {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'task_html' 'task' contest.slug task.name %}?user={{user_name}}" class="btn btn-default" title="Preview"><i class="fa fa-btns fa-search fa-lg"></i></a>
                            <a href="{% url 'task_pdf' 'task' contest.slug task.name %}?user={{user_name}}" class="btn btn-default" title="PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a>
                            <!-- <a href="{% url 'versions' contest.slug task.name %}" class="btn btn-default" title="History"><i class="fa fa-btns fa-history fa-lg"></i></a> -->
                            <!-- <a href="{% url 'trans_md' 'task' contest.slug task.name %}" class="btn btn-default" title="Markdown"><i class="fa fa-btn fa-file-text-o fa-lg"></i></a> -->
                            <!-- <button onclick="sendPrint('{% url 'task_print' 'task' contest.slug task.name %}')" class="btn btn-default" title="Print"><i class="fa fa-btn fa-print fa-lg"></i></button> -->
                        </td>
                        <td>
                            {% if task.trans_id %}
                                <form method="post" action="{% url 'freeze_trans' id=task.trans_id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="freeze" value="{{ task.frozen|yesno:'False,True' }}" />
                                    <button type="submit" class="btn {% if task.frozen %} btn-default {% else %} btn-info {% endif %}">
                                        {% if task.frozen %} Unfreeze {% else %} Freeze {% endif %}
                                    </button>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            {% if task.is_editing %}
                                <form method="post" action="{% url 'unleash_edit_token' id=task.trans_id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-info"> Unleash </button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>

{% endblock %}

