{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            
            <h2>Users</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th width="20%">User</th>
                        <th width="30%">Translations</th>
                        <th>Country</th>
                        <th>Language</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username}}</td>
                        <td><a href="{% url 'user_trans' username=user.username %}">Translations</a></td>
                        <td>{{user.country}}</td>
                        <td>{{user.language}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
