{% extends "editor.html" %}

{% block translation_editor %}

    <div id="editor1">
        <textarea id="editor" style="background: #f5f5f5; padding: 10px;">{{ trans }}</textarea>
    </div>



    <script type="text/javascript">

        document.online_prev = false;
        function online_preview() {
            if (document.online_prev == true) {
                var mycontent = simplemde.value();
                $('#original').html(marked(mycontent));
                renderMathInElement(document.getElementById("original"));

            }

        }

        var simplemde = new SimpleMDE({
            element: document.getElementById("editor")[0],
            status: false,
            toolbar: false
        });

        function send_data(quesId) {
            var mycontent = simplemde.value();
            $.ajax({
                url: " {% url 'saveQuestion' %}",
                data: {
                    'content': mycontent,
                    'id': quesId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: "POST",
                success: function (response) {
                },
                complete: function () {
                },
                error: function (xhr, textStatus, thrownError) {
                }
            });
            return false;
        }

        function changeEditorPreview(){
            var preview = document.getElementById("editor-checkbox").checked;
            if (preview) {
                var mycontent = simplemde.value();
                $('#katexTemp').html(marked(mycontent));
                renderMathInElement(document.getElementById("katexTemp1"));
                $('#editor1').hide();
                $('#katexTemp1').show();
                $('#myVarTrans').html(mycontent);


            }else {
                $('#editor1').show();
                $('#katexTemp1').hide();
            }
        }

        var original_markdown = false;
        function changeOriginal(markdown){
            if(markdown){
                document.online_prev = false;
                window.setInterval(online_preview, 100000);
                $('#original').html($('#myVar').text());

            }else{
                document.online_prev = false;
                window.setInterval(online_preview, 100000);
                $('#original').html(marked($('#myVar').text()));
                renderMathInElement(document.getElementById("original"));
            }
        }

        function changeOriginalPreview(){
            var markdown = document.getElementById("original-checkbox").checked;
            original_markdown = markdown;
            changeOriginal(markdown);
        }

        function changeInteractive() {
            var interative = document.getElementById("interactive-checkbox").checked;
            if (interative) {
                document.online_prev = true;
                online_preview();
                window.setInterval(online_preview, 1000)

            }else{
                changeOriginal(original_markdown);
            }
        }


        function save_version_particle() {
            var mycontent = simplemde.value();
            $.ajax({
                url: " {% url 'saveVersionParticle' %}",
                data: {
                    'content': mycontent,
                    'id': {{ quesId }},
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: "POST",
                success: function (response) {
                },
                complete: function () {
                },
                error: function (xhr, textStatus, thrownError) {
                }
            });
            return false;

        }
        window.setInterval(save_version_particle, 30000);
        window.setInterval(online_preview,100000);


    </script>


{% endblock %}