{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="/static/libs/markdown/simplemde.min.css">
    <link rel="stylesheet" href="/static/libs/markdown/editor.css">
    <link rel="stylesheet" href="/static/libs/markdown/katex.css">

    <script type="text/javascript" src="/static/libs/markdown/marked.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/simplemde.min.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/libs.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/syntax.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/buttons.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/editor.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/katex.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/auto-render.min.js"></script>
    <script type="text/javascript" src="/static/js/editor-task.js"></script>


    <div class="row">
        <div class="col-sm-12" id="btn-container">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="col-sm-6">
                        <div class="input-group">
                          <span class="input-group-addon">Task</span>
                          <input id="task-title" type="text" class="form-control" value="{{ title }}" placeholder="Task Name">
                        </div>
                        <!--label class="control-label col-sm-2" for="task-title">Task:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="task-title" value="{{ title }}" placeholder="Task Name">
                        </div-->
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-default" onclick="saveOrPublish(false)">Save</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Publish</button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                              <textarea class="form-control" id="change-log" placeholder="Change Log Note" rows="12"></textarea>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="saveOrPublish(true)">Save And Publish</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row editor-panel">
        <div class="edit-pane">
            <div  id="left_text_box_container">
              <textarea id="left_ltr_plain_text_box">{{ content }}</textarea>
            </div>
        </div>
        <div class="preview-pane">
            <div id="task-preview">{{ content }}</div>
        </div>
    </div>

    <script type="text/javascript">
        task_id = {{taskId}};
        save_task_url = "{% url 'savetask' %}";
        csrf_token = "{{csrf_token}}";
    </script>

{% endblock %}
