<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>
    <title>IOI Translation</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.2.0-rc2/css/bootstrap-rtl.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.js"></script>
    <script src="/static/js/simplemde.min.js"></script>
    <script type="text/javascript" src="/static/editor/libs.js"></script>
    <script type="text/javascript" src="/static/editor/syntax.js"></script>
    <script type="text/javascript" src="/static/editor/buttons.js"></script>
    <script type="text/javascript" src="/static/editor/editor.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js
"></script>

    <link rel="stylesheet" href="/static/css/simplemde.min.css">
    <script type="text/javascript" src="/static/js/simplemde.min.js"></script>

    <link type="text/css" rel="stylesheet" href="/static/editor/editor.css">


    <style type="text/css">
        body {
            background: #F5F5F5;
        }

        @font-face {
            font-family: IRMitra;
            font-weight: normal;
            src: url("/static/style/IRMitra.woff") format('woff');
        }

        #trans, .modal .btn, .modal p {
            font-family: IRMitra;
        }
    </style>


</head>
<body>

<div style="width: 100%">
    <div style="float:left; width: 100%; text-align: justify">
        <form action="{% url 'generatepdf' %}" method="post" style="float: left;margin-right: 2%;margin-left: 18.5%">
            {% csrf_token %}
            <input class="btn" type="submit" name="GeneratePDF" value="PDF"/>
            <input type="hidden" name="TaskId" value="{{ taskId }}"/>
            <input type="hidden" name="isAdmin" value="Yes"/>
        </form>
        <button class="btn" onclick="preview()" style="float: left;margin-right: 2%">Preview</button>
        <button class="btn" onclick="send_data({{ taskId }})" style="float: left;margin-right: 2%">Save</button>

    </div>
</div>

<div style="width: 100%; margin: auto">

    <div style=" height: 400px; width:48%; margin-top: 1%; margin-left: 1%; position: relative; float:left ; direction: ltr">
        <textarea id="trans">{{ task }}</textarea>
    </div>
</div>
<script type="text/javascript">

    marked.setOptions({
        renderer: new marked.Renderer(),
        gfm: true,
        tables: true,
        breaks: false,
        pedantic: false,
        sanitize: false,
        smartLists: true,
        smartypants: false
    });

    var simplemde = new SimpleMDE({
        element: document.getElementById("trans")[0],
        status: false,
        toolbar: false
    });

    var page = -1; // -1 means not rendered and +1 means rendered

    function send_data(quesId) {
        var mycontent = simplemde.value();
        $.ajax({
            url: " {% url 'savetask' %}",
            data: {
                'content': mycontent,
                'id': quesId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            type: "POST",
            success: function (response) {
            },
            complete: function () {
            },
            error: function (xhr, textStatus, thrownError) {
            }
        });
        return false;
    }

    function preview() {
        var mycontent = simplemde.value();
        simplemde.togglePreview();
    }

    function save_version_particle() {
        var mycontent = simplemde.value();
        console.log('im heeree');
        $.ajax({
            url: " {% url 'saveVersionParticle' %}",
            data: {
                'content': mycontent,
                'id': {{ quesId }},
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            type: "POST",
            success: function (response) {
            },
            complete: function () {
            },
            error: function (xhr, textStatus, thrownError) {
            }
        });
        return false;

    }
    setInterval(save_version_particle, 30000)

</script>
</body>
</html>
