{% extends "editor.html" %}

{% block translation_editor %}

    <div id="editor1">
        <textarea id="editor" style="background: #f5f5f5; padding: 10px;">{{ trans }}</textarea>
    </div>



    <script type="text/javascript">

        document.online_prev = false;
        function online_preview() {
            if (document.online_prev == true) {
                var mycontent = simplemde.value();
                $('#original').html(marked(mycontent));
                renderMathInElement(document.getElementById("original"));

            }

        }

        var simplemde = new SimpleMDE({
            element: document.getElementById("editor")[0],
            status: false,
            toolbar: false
        });

        function send_data(quesId) {
            var mycontent = simplemde.value();
            $.ajax({
                url: " {% url 'saveQuestion' %}",
                data: {
                    'content': mycontent,
                    'id': quesId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: "POST",
                success: function (response) {
                },
                complete: function () {
                },
                error: function (xhr, textStatus, thrownError) {
                }
            });
            return false;
        }

        var rendered = false;
        function preview() {
            if (!rendered) {
                var mycontent = simplemde.value();
                $('#katexTemp').html(marked(mycontent));
                renderMathInElement(document.getElementById("katexTemp1"));
                $('#editor1').hide();
                $('#katexTemp1').show();
                $('#myVarTrans').html(mycontent);


            }else {
                $('#editor1').show();
                $('#katexTemp1').hide();
            }
            rendered = !rendered;
        }

        function save_version_particle() {
            var mycontent = simplemde.value();
            $.ajax({
                url: " {% url 'saveVersionParticle' %}",
                data: {
                    'content': mycontent,
                    'id': {{ quesId }},
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: "POST",
                success: function (response) {
                },
                complete: function () {
                },
                error: function (xhr, textStatus, thrownError) {
                }
            });
            return false;

        }
        setInterval(save_version_particle, 30000);

        $(document).on('change', 'input:radio[id^="q_op_"]', function (event) {
            if ($('#q_op_0').is(':checked')) {
                document.online_prev = false;
                window.setInterval(online_preview, 100000);

                $('#original').html(marked($('#myVar').text()));
                renderMathInElement(document.getElementById("original"));

            }else if ($('#q_op_1').is(':checked')) {
                document.online_prev = false;
                window.setInterval(online_preview, 100000);

                $('#original').html($('#myVar').text());

            }else if ($('#q_op_2').is(':checked')) {
                document.online_prev = true;
                online_preview();
                window.setInterval(online_preview, 1000)
            }
        });

    </script>


{% endblock %}