
{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="/static/js/marked.js"></script>
    <script src="/static/js/simplemde.min.js"></script>
    <script type="text/javascript" src="/static/editor/libs.js"></script>
    <script type="text/javascript" src="/static/editor/syntax.js"></script>
    <script type="text/javascript" src="/static/editor/buttons.js"></script>
    <script type="text/javascript" src="/static/editor/editor.js"></script>
    <link rel="stylesheet" href="/static/css/simplemde.min.css">
    <link type="text/css" rel="stylesheet" href="/static/editor/editor.css">



<div class="row">
    <div class="col-md-6">
        <form action = "{% url 'generatepdf' %}" method = "post" style="float: left;margin-right: 2%;margin-left: 37%">
            {% csrf_token %}
            <input class="btn" type="submit" name="GeneratePDF" value="PDF" />
            <input type="hidden" name="quesId" value="{{ quesId }}" />
            <input type="hidden" name="isAdmin" value="No" />
        </form>
        <button class="btn" onclick="preview()" style="float: left;margin-right: 2%">Preview</button>
        <button class="btn" onclick="send_data({{ quesId }})" style="float: left;margin-right: 2%">Save</button>
    </div>
    <div  class="col-md-6">
        <div id="q_opt" class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active" id="d_op_0">
                <input id="q_op_0" name="op" type="radio" value="0">
                Task Preview
            </label>
            <label class="btn btn-default" id="d_op_1">
                <input id="q_op_1" name="op" type="radio" value="1">
                Task Markdown
            </label>
            <label class="btn btn-default" id="d_op_2">
                <input id="q_op_2" name="op" type="radio" value="2">
                Translate Preview
            </label>
        </div>
    </div>
</div>
<div class="row" style="background:#e7e7e7">
    <div class="col-md-6" style="border-right: 2px solid #ccc;">
        <div id="moratab">{{ trans }}</div>
    </div>
    <div class="col-md-6" style="border-left: 2px solid #ccc;">
        <div id="original" style="white-space: pre-wrap; background: #f5f5f5; padding: 10px; margin-top: 20px;">{{ task }}</div>
    </div>
</div>


        <script type="text/javascript">

            marked.setOptions({
                renderer: new marked.Renderer(),
                gfm: true,
                tables: true,
                breaks: false,
                pedantic: false,
                sanitize: false,
                smartLists: true,
                smartypants: false
            });

            content = $('<textarea/>').html($('#moratab').html()).val();
            var editor = $('#moratab').moratab(content, {strings: {help: ''}});

            var page = -1; // -1 means not rendered and +1 means rendered

            function send_data(quesId) {
                var mycontent = $('#moratab').text();
                console.log(mycontent.length);
                console.log('im heeree');
                $.ajax({
                    url: " {% url 'saveQuestion' %}",
                    data: {
                        'content': mycontent,
                        'id': quesId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: "POST",
                    success: function (response) {
                    },
                    complete: function () {
                    },
                    error: function (xhr, textStatus, thrownError) {
                    }
                });
                return false;
            }

            function preview() {
                if (page == -1) {
                    var mycontent = $('#moratab').text();
                    content = mycontent;
                    $('#moratab').html(marked(mycontent)).css("font-family", "IRMitra");
                }
                else {
                    $('#moratab').moratab(content, {strings: {help: ''}});
                }
                page = -1 * page;

            }

            function save_version_particle() {
                var mycontent = $('#moratab').text();
                console.log('im heeree');
                $.ajax({
                    url: " {% url 'saveVersionParticle' %}",
                    data: {
                        'content': mycontent,
                        'id': {{quesId}},
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: "POST",
                    success: function (response) {
                    },
                    complete: function () {
                    },
                    error: function (xhr, textStatus, thrownError) {
                    }
                });
                return false;

            }

            window.setInterval(save_version_particle,30000)

            $(document).ready(function () {
                console.log('im heeree');
                var cont = $('#original').text();
                $('#original').html(marked(cont));
                $('#myVar').html(cont);

            });
            $(document).on('change', 'input:radio[id^="q_op_"]', function (event) {
                console.log($('#q_op_0').is(':checked'));
                if ($('#q_op_0').is(':checked')) {
                    $('#original').html(marked($('#myVar').text()));
                }
                else if ($('#q_op_1').is(':checked')){
                    $('#original').html($('#myVar').text());
                }
                else if ($('#q_op_2').is(':checked')) {
                    var mycontent = $('#moratab').text();
                    $('#original').html(marked(mycontent));
                }

            });

        </script>
    <input type="hidden" id="myVar" name="variable" value="{{variable}}">


{% endblock %}