{% extends "base.html" %}

{% block content %}

  <link rel="stylesheet" href="/static/libs/markdown/simplemde.min.css">
  <link rel="stylesheet" href="/static/libs/markdown/editor.css">
  <link rel="stylesheet" href="/static/libs/markdown/katex.css">

  <script type="text/javascript" src="/static/libs/markdown/marked.js"></script>
  <script type="text/javascript" src="/static/libs/markdown/simplemde.min.js"></script>
  <script type="text/javascript" src="/static/libs/markdown/libs.js"></script>
  <script type="text/javascript" src="/static/libs/markdown/syntax.js"></script>
  <script type="text/javascript" src="/static/libs/markdown/buttons.js"></script>
  <script type="text/javascript" src="/static/libs/markdown/editor.js"></script>
  <script type="text/javascript" src="/static/libs/markdown/katex.js"></script>
  <script type="text/javascript" src="/static/libs/markdown/auto-render.min.js"></script>
  <script type="text/javascript" src="/static/js/editor.js"></script>
  {% if text_font_base64  %}

    <style>
    @font-face {
      font-family: 'CustomTextFont';
      src: url(data:font/truetype;charset=utf-8;base64,{{text_font_base64}})
    }

    #editor_panel {
      font-family: 'CustomTextFont';
    }
    </style>
  {% endif %}

  <div class="row">
    <div class="btn-container">
            <button class="btn btn-default" onclick="saveVersion()" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="fa fa-btn fa-save fa-lg"></i></button>
            <a href="{% url 'versions' contest_slug=contest_slug task_title=task_title %}" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="History"><i class="fa fa-btns fa-history fa-lg"></i></a>
            <a href="{% url 'trans_pdf' contest_slug=contest_slug task_title=task_title %}" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="PDF"><i class="fa fa-btn fa-file-pdf-o fa-lg"></i></a>
            <a href="{% url 'gettranspreview' contest_slug=contest_slug task_title=task_title%}" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Print"><i class="fa fa-btn fa-print fa-lg"></i></a>

            <div class="btn-group pull-right" role="group">
                <button type="button" id="preview-btn" class="btn btn-default" onclick="onPreviewClick()">Preview</button>
                <button type="button" id="isc-preview-btn" class="btn btn-default" onclick="onIscPreviewClick()">ISC Preview</button>
                <button type="button" id="isc-markdown-btn" class="btn btn-default" onclick="onIscMarkdownClick()">ISC Markdown</button>
            </div>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-6 edit-pane" style="padding: 0;">
        <div id="left_text_box_container" onkeydown="checkIfCanChange()">
          {% if rtl %}
            <div id="left_rtl_plain_text_box" style="white-space: pre-wrap">{{ trans }}</div>
          {% else %}
            <textarea id="left_ltr_plain_text_box">{{ trans }}</textarea>
          {% endif %}
        </div>
      </div>
      <div class="col-sm-6 preview-pane markdown-body">
        <div id="right_text_box">{{ task }}</div>
      </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="accessDeniedModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <h3>Another one is editing this task!</h3>
        </div>
        <div class="modal-footer">
          <a href="{% url 'firstpage' %}" class="btn btn-primary">Return to home</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      ques_id = {{quesId}};
      version_particle_url = "{% url 'save_version_particle' contest_slug=contest_slug task_title=task_title %}";
      access_edit_translate_url = "{% url 'access_edit_translate' id=quesId %}";
      unleash_trans_token_url = "{% url 'unleash_trans_token' id=quesId %}";
      preview_url = "{% url 'preview_translate' id=quesId%}";
      save_question_url = "{% url 'save_translation' contest_slug=contest_slug task_title=task_title %}";
      task_version_url = "{% url 'task_versions' contest_slug=contest_slug task_title=task_title  %}";
      csrf_token = "{{csrf_token}}";
      rtl = '{{rtl}}' == 'True';

  </script>

{% endblock %}
