
{% extends "editor.html" %}

{% block translation_editor %}

    <div id="moratab1">
        <div id="moratab" style="white-space: pre-wrap">{{ trans }}</div>
    </div>


    <script type="text/javascript">

        document.online_prev = false;
        function online_preview() {
            if (document.online_prev == true){
                $('#original').css("direction","rtl");
                var mycontent = $('#moratab').text();
                $('#original').html(marked(mycontent));
                renderMathInElement(document.getElementById("original"));
            }
        }

        content = $('<textarea/>').html($('#moratab').html()).val();
        var editor = $('#moratab').moratab(content, {strings: {help: ''}});

        function send_data(quesId) {
            var mycontent = $('#moratab').text();
            console.log(mycontent.length);
            console.log('im heeree');
            $.ajax({
                url: " {% url 'saveQuestion' %}",
                data: {
                    'content': mycontent,
                    'id': quesId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: "POST",
                success: function (response) {
                },
                complete: function () {
                },
                error: function (xhr, textStatus, thrownError) {
                }
            });
            return false;
        }

        var rendered = false;
        function preview() {
            if (!rendered) {
                var mycontent = $('#moratab').text();
                $('#katexTemp').html(marked(mycontent));
                renderMathInElement(document.getElementById("katexTemp1"));

                $('#moratab1').hide();
                $('#katexTemp1').show();
                document.getElementsByName("katexhtml").value = document.getElementById("katexTemp").innerHTML;
            }else {
                $('#moratab1').show();
                $('#katexTemp1').hide();
            }
            rendered = !rendered;
        }

        function save_version_particle() {
            var mycontent = $('#moratab').text();
            $.ajax({
                url: " {% url 'saveVersionParticle' %}",
                data: {
                    'content': mycontent,
                    'id': {{quesId}},
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: "POST",
                success: function (response) {
                },
                complete: function () {
                },
                error: function (xhr, textStatus, thrownError) {
                }
            });
            return false;

        }
        window.setInterval(save_version_particle,30000);
        window.setInterval(online_preview,100000);

        $(document).on('change', 'input:radio[id^="q_op_"]', function (event) {
            if ($('#q_op_0').is(':checked')) {
                document.online_prev = false;
                window.setInterval(online_preview,100000);

                $('#original').css("direction","ltr");
                $('#original').html(marked($('#myVar').text()));
                renderMathInElement(document.getElementById("original"));

            }else if ($('#q_op_1').is(':checked')){
                document.online_prev = false;
                window.setInterval(online_preview,100000);

                $('#original').css("direction","ltr");
                $('#original').html($('#myVar').text());

            }else if ($('#q_op_2').is(':checked')) {
                document.online_prev = true;
                online_preview();
                window.setInterval(online_preview,1000);
            }
        });

    </script>

    <div  id="test"></div>

{% endblock %}