<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>
    <title>IOI Translation</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.js"></script>
    <script src="/static/js/simplemde.min.js"></script>
    <script type="text/javascript" src="/static/editor/libs.js"></script>
    <script type="text/javascript" src="/static/editor/syntax.js"></script>
    <script type="text/javascript" src="/static/editor/buttons.js"></script>
    <script type="text/javascript" src="/static/editor/editor.js"></script>
    <link rel="stylesheet" href="/static/css/simplemde.min.css">
    <link type="text/css" rel="stylesheet" href="/static/editor/editor.css">


    <style type="text/css">
        body {
            background: #F5F5F5;
        }

        .container {
            max-width: 700px;
        }

        #moratab {
            margin-top: 20px;
        }

        @font-face {
            font-family: IRMitra;
            font-weight: normal;
            src: url('/static/style/IRMitra.woff') format('woff');
        }

        #wmd-input, .modal .btn, .modal p {
            font-family: IRMitra;
        }
    </style>


</head>
<body>
<nav class="navbar navbar-inverse " role="navigation" style="width: 100%" >
    <div class="" style="width: 100%; margin :0.7%; margin-bottom: 5.2%">
        <div id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="height: 100%">
                <li>
                    <a class="btn" href="{% url 'firstpage' %}"
                       style="background-color: transparent; color: white;margin-right: 30%; border:solid; border-color: white; padding-right: 20%"><i
                            class="glyphicon glyphicon-home" style="font-size: 200%"></i></a>
                </li>
                <li style="margin-top: 2%">
                    <a class="btn " data-toggle="modal" data-target="#sett-modal"
                       style="background-color:whitesmoke; color: black;margin-right: 20%; padding-right: 15%"><i
                            class="glyphicon glyphicon-cog" style="margin-right: 2%"></i> Setting</a>
                </li>
                <li style="margin-top: 2%">
                    <a class="btn" href="{% url 'notifications' %}" data-toggle="modal" data-target="#notif-modal"
                       style="background-color: whitesmoke; color: black;margin-right: 15%;padding-right: 15%"><i
                            class="glyphicon glyphicon-envelope" style="margin-right: 2%"></i> Notifications</a>
                </li>
                <li style="margin-top: 2%">
                    <a class="btn" href="{% url 'logout' %}" style="background-color: #d9534f; color: white"><i
                            class="glyphicon glyphicon-log-out" style="margin-right: 2%"></i> Sign Out</a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
        <div class="" style="float: right; margin-right: 1.5%">
            <ul class="nav navbar-nav" style="height: 100%">
                <li>
                    <a class="btn" onclick="return false"
                       style="pointer-events: none; background-color: transparent; color: white;margin-right: 30%"><i
                            class="glyphicon glyphicon-user" style="font-size: 200%"> </i>
                        <p style="margin-bottom: -50%">{{ user.username }}</p></a>
                </li>
                <li>
                    <a class="btn" onclick="return false"
                       style="pointer-events: none; background-color: transparent; color: white;margin-right: 30%"><i
                            class="glyphicon glyphicon-flag" style="font-size: 200%"> </i>
                        <p style="margin-bottom: -50%">{{ language }}</p></a>
                </li>

            </ul>
        </div>
    </div>

    <!-- /.container -->
</nav>


<div style="width: 100%">
    <div style="float:left; width: 50%; text-align: justify">
        <form action = "{% url 'generatepdf' %}" method = "post" style="float: left;margin-right: 2%;margin-left: 37%">
            {% csrf_token %}
            <input class="btn" type="submit" name="GeneratePDF" value="PDF" />
            <input type="hidden" name="quesId" value="{{ quesId }}" />
            <input type="hidden" name="isAdmin" value="No" />
        </form>
        <button class="btn" onclick="preview()" style="float: left;margin-right: 2%">Preview</button>
        <button class="btn" onclick="send_data({{ quesId }})" style="float: left;margin-right: 2%">Save</button>

    </div>
    <div id="q_opt" class="btn-group" data-toggle="buttons" style="width: 50%;text-align: right">
        <label class="btn btn-default active" id="d_op_0" style="margin-left: 37%"> <input id="q_op_0" name="op" type="radio" value="0">Task Preview</label>
        <label class="btn btn-default" id="d_op_1"> <input id="q_op_1" name="op" type="radio" value="1">Task Markdown</label>
        <label class="btn btn-default" id="d_op_2"> <input id="q_op_2" name="op" type="radio" value="2">Translate Preview</label>

    </div>
</div>

<div style="width: 100%; margin: auto">


    <div style=" height: 400px; width:48%; position: relative; float:left;margin-left: 1%;">
        <div id="moratab" style="border: solid; padding-right: 2%;padding-left: 2%; border-width: thin">{{ trans }}</div>
    </div>

    <div style=" height: 400px; width:47%;  position: relative; float:left ; direction: ltr; padding-left: 3%;white-space: pre-wrap">
        <div id="original">{{ task }}</div>
    </div>

</div>
        <script type="text/javascript">

            marked.setOptions({
                renderer: new marked.Renderer(),
                gfm: true,
                tables: true,
                breaks: false,
                pedantic: false,
                sanitize: false,
                smartLists: true,
                smartypants: false
            });

            content = $('<textarea/>').html($('#moratab').html()).val();
            var editor = $('#moratab').moratab(content, {strings: {help: ''}});

            var page = -1; // -1 means not rendered and +1 means rendered

            function send_data(quesId) {
                var mycontent = $('#moratab').text();
                console.log(mycontent.length);
                console.log('im heeree');
                $.ajax({
                    url: " {% url 'saveQuestion' %}",
                    data: {
                        'content': mycontent,
                        'id': quesId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: "POST",
                    success: function (response) {
                    },
                    complete: function () {
                    },
                    error: function (xhr, textStatus, thrownError) {
                    }
                });
                return false;
            }

            function preview() {
                if (page == -1) {
                    var mycontent = $('#moratab').text();
                    content = mycontent;
                    $('#moratab').html(marked(mycontent)).css("font-family", "IRMitra");
                }
                else {
                    $('#moratab').moratab(content, {strings: {help: ''}});
                }
                page = -1 * page;

            }

            function save_version_particle() {
                var mycontent = $('#moratab').text();
                console.log('im heeree');
                $.ajax({
                    url: " {% url 'saveVersionParticle' %}",
                    data: {
                        'content': mycontent,
                        'id': {{quesId}},
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: "POST",
                    success: function (response) {
                    },
                    complete: function () {
                    },
                    error: function (xhr, textStatus, thrownError) {
                    }
                });
                return false;

            }

            window.setInterval(save_version_particle,30000)

            $(document).ready(function () {
                console.log('im heeree');
                var cont = $('#original').text();
                $('#original').html(marked(cont));
                $('#myVar').html(cont);

            });
            $(document).on('change', 'input:radio[id^="q_op_"]', function (event) {
                console.log($('#q_op_0').is(':checked'));
                if ($('#q_op_0').is(':checked')) {
                    $('#original').html(marked($('#myVar').text()));
                }
                else if ($('#q_op_1').is(':checked')){
                    $('#original').html($('#myVar').text());
                }
                else if ($('#q_op_2').is(':checked')) {
                    var mycontent = $('#moratab').text();
                    $('#original').html(marked(mycontent));
                }

            });

        </script>
    <input type="hidden" id="myVar" name="variable" value="{{variable}}">

</body>
</html>
