

<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/libs/markdown/katex.css">
      {% if text_font_base64  %}

        <style>
        @font-face {
          font-family: 'CustomTextFont';
          src: url(data:font/truetype;charset=utf-8;base64,{{text_font_base64}})
        }

        #editor_panel {
          font-family: 'CustomTextFont';
        }
        </style>
      {% endif %}
    <script type="text/javascript" src="/static/libs/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/marked.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/katex.js"></script>
    <script type="text/javascript" src="/static/libs/markdown/auto-render.min.js"></script>

</head>
<body>
    <h3>
        {{task_title}}
    </h3>
    <h5><strong>Country:</strong> {{country}} </h5>
    <h5><strong>Language:</strong> {{language}} </h5>
    <h5><strong>Contest:</strong> {{contest}} </h5>
    <hr>
    <div id="left_ltr_plain_text_box" style="display: none">{{content}}</div>
    <div id="rendered_content" style="direction:{{direction}}">

        </div>
</body>

<script>

    $(document).ready(function(){
        marked.setOptions({
            renderer: new marked.Renderer(),
            gfm: true,
            tables: true,
            breaks: false,
            pedantic: false,
            sanitize: false,
            smartLists: true,
            smartypants: false
        });

        text = $('#left_ltr_plain_text_box').html();
        $('#rendered_content').html(marked(text));
        renderMathInElement(document.getElementById('rendered_content'));
    });
</script>
</html>