
{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-center">
                        <thead><tr>
                            <th>Main Question</th>
                            <th colspan="3"></th>
                            <th>Is Editing?</th>
                            <th>Translation Status</th>
                        </tr></thead>
                        <tbody>
                        {% for question in tasks %}
                            <tr>
                                <td>
                                    {% if question.3 or question.2 %}
                                     {{ question.1 }}
                                    {% else %}
                                         <a href="{% url 'question' question.0 %}">
                                            {{ question.1 }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'versions' question.0 %}">Translation Versions</a></td>
                                <td><a href="{% url 'gettaskpdf'%}?id={{question.0}}">Task PDF</a></td>
                                <td><a href="{% url 'taskVersions' question.0 %}">Task Versions</a></td>
                                <td> {% if question.2 %} YES {% endif %}</td>
                                <td>{{ question.3 | yesno:'Freeze,' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}