{% extends "base.html" %}

{% block content %}
{% if home_content %}
<div class="body container flatpage">
       {{ home_content | safe }}
</div>
{% endif %}
{% for contest_tasks in tasks_lists %}

    <div class="body container">
      <h2>
        {{contest_tasks.0}}
      </h2>
      <table class="table table-hover">
        <thead><tr>
          <th>No</th>
          <th width="15%">Task</th>
          <th width="15%">Edit</th>
          <th>Translation</th>
          <th>ISC Version</th>
        </tr></thead>
        <tbody>
        {% for question in contest_tasks.2 %}
          <tr>
            <td> {{ forloop.counter }} </td>
            <td> {{ question.1 }} </td>
            <td>
              {% if question.2 %} Is editing
              {% else %}<a href="{% url 'question' contest_slug=contest_tasks.1 task_title=question.1 %}">Edit</a>{% endif %}
            </td>
            <td>
              <a href="{% url 'get_version_md'%}?type=translation&id={{question.0}}" class="btn btn-default" data-toggle="tooltip" title="Markdown"><i class="fa fa-btn fa-file-text-o fa-lg"></i></a>
              <a href="{% url 'versions' contest_slug=contest_tasks.1 task_title=question.1 %}" class="btn btn-default" data-toggle="tooltip" title="History"><i class="fa fa-btns fa-history fa-lg"></i></a>
              <a href="{% url 'gettranspdf'%}?id={{question.0}}" class="btn btn-default" data-toggle="tooltip" title="PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a>
              <a href="{% url 'mailtranspdf'%}?id={{question.0}}" class="btn btn-default" data-toggle="tooltip" title="Print"><i class="fa fa-btns fa-print fa-lg"></i></a>
            </td>
            <td>
              <a href="{% url 'get_version_md'%}?type=task&id={{question.0}}" class="btn btn-default" data-toggle="tooltip" title="Markdown"><i class="fa fa-btn fa-file-text-o fa-lg"></i></a>
              <a href="{% url 'taskVersions' question.0 %}" class="btn btn-default" data-toggle="tooltip" title="History"><i class="fa fa-btns fa-history fa-lg"></i></a>
              <a href="{% url 'get_version_pdf'%}?type=task&id={{question.0}}" class="btn btn-default" data-toggle="tooltip" title="PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a>
              <a href="{% url 'mailtranspdf'%}?id={{quesId}}" class="btn btn-default" data-toggle="tooltip" title="Print"><i class="fa fa-btns fa-print fa-lg"></i></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

{% endfor %}

{% endblock %}
