
{% extends "base.html" %}

{% block content %}

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table">
                    <thead><tr>
                        <th>Main Question</th>
                        <th>Translation Version</th>
                    </tr></thead>
                    <tbody>
                    {% for question in translations %}
                        <tr>
                            <td><a href="{% url 'question' question.0 %}">{{ question.1 }}</a></td>
                            <td><a href="{% url 'versions' question.0 %}">Versions</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}