{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Custom Font</h2>
                    <form action="{% url 'settings'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}