{% extends "base.html" %}

{% block content %}

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{%  url 'task' %}" method="post">
                    {% csrf_token %}
                    <label for="task_title">Title: </label>
                    <input id="task_title" type="text" name="title">
                    <input type="submit" value="New Task">
                </form>

            </div>
        </div>
    </div>


    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table">
                    <thead><tr>
                        <th>Main Question</th>
                        <th>Publish</th>
                    </tr></thead>
                    <tbody>
                    {% for question in questions %}
                        <tr>
                            <td><a href="{% url 'edittask' question.0 %}">{{ question.1 }}</a></td>
                            <td id="td_{{ question.0 }}">
                                {% if question.2 == False or question.3  %}
                                    <button  onclick="publishLastVersion({{ question.0 }})">
                                        Publish Latest Version
                                    </button>
                                {% endif %}
                                {% if question.2 %}
                                    <button  onclick="unpublishTask({{ question.0 }})">
                                        Unpublish Task
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <script>
        function getCookie(name) {
          var value = "; " + document.cookie;
          var parts = value.split("; " + name + "=");
          if (parts.length == 2) return parts.pop().split(";").shift();
        }
        function publishLastVersion(questionId) {
            $.ajax({
                url: " {% url 'publishtask' %}",
                data: {
                    'id': questionId,
                    csrfmiddlewaretoken: getCookie("csrftoken")
                },
                type: "POST",
                success: function (response) {
                    location.reload();
                    // TODO: should be more asynchron :(
                    /*if (publishing == 'False')
                        $('#td_' + questionId).html('<button onclick="changePublishing(' + questionId + ', \'True\')"> UnPublish </button>');
                    else
                        $('#td_' + questionId).html('<button onclick="changePublishing(' + questionId + ', \'False\')"> Publish </button>');

                    */
                    }
                ,
                complete: function () {
                },
                error: function (xhr, textStatus, thrownError) {
                }
            });
        }
        function unpublishTask(questionId) {
            $.ajax({
                url: " {% url 'publishtask' %}" + '?' + $.param({"id": questionId}),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
                type: "DELETE",
                success: function (response) {
                    location.reload();
                    // TODO: should be more asynchron :(
                    /*if (publishing == 'False')
                        $('#td_' + questionId).html('<button onclick="changePublishing(' + questionId + ', \'True\')"> UnPublish </button>');
                    else
                        $('#td_' + questionId).html('<button onclick="changePublishing(' + questionId + ', \'False\')"> Publish </button>');

                    */
                    }
                ,
                complete: function () {
                },
                error: function (xhr, textStatus, thrownError) {
                }
            });
        }

    </script>

{% endblock %}