

{% extends "base.html" %}

{% block content %}
<!-- List of uploaded documents -->
<div class="container">
    <div class="row col-md-12" style="float: left">
        <div class="col-md-6" style="margin-top: 5%; float:left; position: relative">
            {% if questions %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Main Question</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for question in questions %}
                        <tr>
                            <td><a href="{% url 'edittask' question.0 %}">{{ question.1 }}</a></td>
                            <td></td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p style="text-align: left">No documents.</p>
            {% endif %}
            <hr>
            <h1>Create a New Task</h1>
            <form action = "{% url 'task' %}" method = "post">
                {% csrf_token %}
                <input type="text" name="title" placeholder="Task Title" required = "required">
                <input type="submit" name="Create Task" value="Create" />
            </form>
        </div>
    </div>
</div>

{% endblock %}