{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="/static/js/marked.js"></script>
    <script type="text/javascript" src="/static/js/simplemde.min.js"></script>
    <script type="text/javascript" src="/static/editor/libs.js"></script>
    <script type="text/javascript" src="/static/editor/syntax.js"></script>
    <script type="text/javascript" src="/static/editor/buttons.js"></script>
    <script type="text/javascript" src="/static/editor/editor.js"></script>
    <script type="text/javascript" src="/static/js/katex.js"></script>
    <script type="text/javascript" src="/static/js/auto-render.min.js"></script>

    <link rel="stylesheet" href="/static/css/simplemde.min.css">
    <link rel="stylesheet" href="/static/editor/editor.css">
    <link rel="stylesheet" href="/static/css/katex.css">



    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {% block btn-content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="col-sm-6 col-sm-offset-3 task-title">
                    <input class="form-control" value="{{ title }}" placeholder="Question Title" id="title">
                </div>

                <div class="col-sm-12">
                    <div class="col-md-6" id="original1">
                        <textarea id="original">{{ content }}</textarea>
                    </div>
                    <div class="col-md-6" id="katexTemp1">
                        <div id="katexTemp"></div>
                    </div>

                    <div class="col-md-6">
                        <div id="trans"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script type="text/javascript">

        marked.setOptions({
            renderer: new marked.Renderer(),
            gfm: true,
            tables: true,
            breaks: false,
            pedantic: false,
            sanitize: false,
            smartLists: true,
            smartypants: false
        });

        var simplemde = new SimpleMDE({
            element: document.getElementById("trans")[0],
            status: false,
            toolbar: false
        });

        var page = -1; // -1 means not rendered and +1 means rendered

        function preview() {
            if (page == -1) {
                var mycontent = simplemde.value();
                //$('#original').html(marked(mycontent));
                $('#katexTemp').html(marked(mycontent));
                renderMathInElement(document.getElementById("katexTemp1"));
                $('#original1').hide();
                $('#katexTemp1').show();


            }
            else {
                $('#original1').show();
                $('#katexTemp1').hide();
            }
            page = -1 * page;

        }
        function online_preview() {
                var mycontent = simplemde.value();
                $('#trans').html(marked(mycontent));
                renderMathInElement(document.getElementById("trans"));

        }

        window.setInterval(online_preview, 1000)

        {% comment %}
            function save_version_particle() {
                var mycontent = simplemde.value();
                console.log('im heeree');
                $.ajax({
                    url: " {% url 'saveVersionParticle' %}",
                    data: {
                        'content': mycontent,
                        'id': {{ quesId }},
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: "POST",
                    success: function (response) {
                    },
                    complete: function () {
                    },
                    error: function (xhr, textStatus, thrownError) {
                    }
                });
                return false;

            }
            setInterval(save_version_particle, 30000)
        {% endcomment %}

    </script>

    {% block script-content %}{% endblock %}

{% endblock %}