
{% extends "base.html" %}
{% load list_filter %}

{% block content %}

    <script type="text/javascript" src="/static/libs/markdown/marked.js"></script>
    <script type="text/javascript" src="/static/js/versions-task.js"></script>



    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table table-version">
                    <thead><tr>
                        <td colspan="2">{{ task_title }}</td>
                    </tr></thead>
                    <tbody>
                    {% for version in versions %}
                        {% with next_element=versions|next:forloop.counter0 %}
                        {% with previous_element=versions|previous:forloop.counter0 %}

                        <tr onclick="diff({{ version.id }},{{ next_element.id }})">
                            <td>{{ version.create_time | date:"M j, H:i" }}</td>
                            <td>{{ version.release_note }}</td>
                        </tr>

                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="col-sm-8" id="right-container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="myversion" class="text-container" style="white-space: pre-wrap"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        task_version_url = "{% url 'taskVersions' id=quesId %}";
        csrf_token = "{{csrf_token}}";
    </script>

{% endblock %}