{% extends "base.html" %}

{% block content %}
{% if home_content %}
<div class="body container flatpage">
       {{ home_content | safe }}
</div>
{% endif %}
{% for contest_tasks in tasks_lists %}

    <div class="body container">
        <h2>{{contest_tasks.title}}</h2>
        <table class="table table-hover">
            <thead><tr>
                <th width="20%">Task</th>
                <th width="15%">Edit</th>
                <th>Translation</th>
                <th>ISC Version</th>
            </tr></thead>
            <tbody>
            {% for task in contest_tasks.tasks %}
                <tr>
                    <td> {{ task.title }} </td>
                    <td>
                        {% if task.is_editing %} Is editing
                        {% elif task.freezed %} Freezed
                        {% else %}<a href="{% url 'question' contest_slug=contest_tasks.slug task_title=task.title %}">Edit</a>{% endif %}
                    </td>
                    <td>
                        <a href="{% url 'trans_md' contest_slug=contest_tasks.slug task_title=task.title %}" class="btn btn-default" data-toggle="tooltip" title="Markdown"><i class="fa fa-btn fa-file-text-o fa-lg"></i></a>
                        <a href="{% url 'versions' contest_slug=contest_tasks.slug task_title=task.title %}" class="btn btn-default" data-toggle="tooltip" title="History"><i class="fa fa-btns fa-history fa-lg"></i></a>
                        <a href="{% url 'trans_pdf' contest_slug=contest_tasks.slug task_title=task.title%}" class="btn btn-default" data-toggle="tooltip" title="PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a>
                        <a href="{% url 'gettranspreview' contest_slug=contest_tasks.slug task_title=task.title%}" class="btn btn-default" data-toggle="tooltip" title="Print"><i class="fa fa-btns fa-print fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="{% url 'task_md' contest_slug=contest_tasks.slug task_title=task.title%}" class="btn btn-default" data-toggle="tooltip" title="Markdown"><i class="fa fa-btn fa-file-text-o fa-lg"></i></a>
                        <a href="{% url 'task_versions' contest_slug=contest_tasks.slug task_title=task.title %}" class="btn btn-default" data-toggle="tooltip" title="History"><i class="fa fa-btns fa-history fa-lg"></i></a>
                        <a href="{% url 'task_pdf' contest_slug=contest_tasks.slug task_title=task.title%}" class="btn btn-default" data-toggle="tooltip" title="PDF"><i class="fa fa-btns fa-file-pdf-o fa-lg"></i></a>
                        <a href="{% url 'mailtranspdf'%}?id={{task.id}}" class="btn btn-default" data-toggle="tooltip" title="Print"><i class="fa fa-btns fa-print fa-lg"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endfor %}

{% endblock %}
