
{% extends "base.html" %}

{% block content %}

    <script type="text/javascript" src="/static/js/marked.js"></script>
    <script type="text/javascript" src="/static/js/versions.js"></script>



    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table">
                    <thead><tr><td colspan="4">
                        <button class="btn btn-default" onclick="diff()">Diff</button>
                    </td></tr></thead>
                    <tbody>
                    {% for version in versions %}
                        <tr class="version" style="cursor: pointer">
                            <td><input type="checkbox" id="{{ version.0 }}" onchange="changeCheckbox({{ version.0 }})"></td>
                            <td>{{ version.1 }}</td>
                            <td><button class="btn btn-default" onclick="view_version({{ version.0 }})" >View</button></td>
                            <td><button class="btn btn-default" onclick="revert_version({{ version.0 }})" >Revert</button></td>
                        </tr>
                    {% endfor %}
                    {% for version in versionParticles %}
                        <tr class="versionparticle" style="cursor: pointer; background-color: yellow">
                            <td><input type="checkbox" id="particle-{{ version.0 }}"></td>
                            <td>{{ version.1 }}</td>
                            <td><button class="btn btn-default" onclick="view_particle_version({{ version.0 }})" >View</button></td>
                            <td><button class="btn btn-default" onclick="revert_particle_version({{ version.0 }})" >Revert</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="col-sm-8" id="right-container">
        <div class="panel panel-default">
            <div class="panel-body">

                <div id="myversion" class="text-container" style="white-space: pre-wrap"></div>
                <div id="original" style="display: none;">{{ translation }}</div>
            </div>

            </div>
        </div>
    </div>



    <script type="text/javascript">
        ques_id = {{quesId}};
        version_url = "{% url 'getVersion' %}";
        particle_version_url = "{% url 'getVersionParticle' %}";
        save_question_url = " {% url 'saveQuestion' %}";
        csrf_token = "{{csrf_token}}";
    </script>

{% endblock %}
