
{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="/static/js/marked.js"></script>
<div class="row">
    <button class="btn primary-btn" onclick="revert_version()" >Revert Version</button>
</div>
<div class="row">
        <div class="col-md-2" >
            {% if versions %}
                <table class="table">
                    <thead >
                    <tr >
                        <th>Version</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for version in versions %}
                        <tr class="version" id="{{ version.0 }}" style="cursor: pointer">
                            <td>{{ version.0 }}</td>
                            <td>{{ version.1 }}</td>
                        </tr>
                    {% endfor %}
                    {% for version in versionParticles %}
                        <tr class="versionparticle" id="{{ version.0 }}" style="cursor: pointer; background-color: yellow">
                            <td>{{ version.0 }}</td>
                            <td>{{ version.1 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p style="text-align: left">No documents.</p>
            {% endif %}
        </div >
        <div class="col-md-5" >

            <div>
                <div id="myversion"></div>
            </div>
        </div>
        <div class="col-md-5" style="border-left: 2px solid #ccc;">

            <div >
                <div id="original">{{ translation }}</div>
            </div>
        </div>

</div>



        <script type="text/javascript">
            var cur_ver_text = '';
            $(document).ready(function () {
                var cont = $('#original').text();
                $('#original').html(marked(cont));
                console.log('im heere')
            });

            function revert_version() {
                var mycontent = cur_ver_text;
                $.ajax({
                    url: " {% url 'saveQuestion' %}",
                    data: {
                        'content': mycontent,
                        'id': {{ quesId }},
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: "POST",
                    success: function (response) {
                        location.reload();
                    },
                    complete: function () {
                    },
                    error: function (xhr, textStatus, thrownError) {
                    }
                });
                return false;
            }

            $('.version').on('click', function (event) {
                event.preventDefault();
                console.log($(this).attr('id'));
                var content = "";
                $.ajax({
                    url: " {% url 'getVersion' %}",
                    data: {
                        'id': $(this).attr('id'),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: "POST",
                    success: function (response) {
                        cur_ver_text = response;
                        $('#myversion').html(marked(response));
                    },
                    complete: function () {
                    },
                    error: function (xhr, textStatus, thrownError) {
                    }
                });

            })
            $('.versionparticle').on('click', function (event) {
                event.preventDefault();
                console.log($(this).attr('id'));
                var content = "";
                $.ajax({
                    url: " {% url 'getVersionParticle' %}",
                    data: {
                        'id': $(this).attr('id'),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: "POST",
                    success: function (response) {
                        cur_ver_text = response;
                        $('#myversion').html(marked(response));
                    },
                    complete: function () {
                    },
                    error: function (xhr, textStatus, thrownError) {
                    }
                });

            })

        </script>

{% endblock %}
